<template>
    <div>
    <section class="content-header" style="border-bottom: 1px solid rgb(222 226 230); background-color: rgb(255 255 255);">
        <div class="container-fluid">
            <div class="row mb-2" style="padding-top: 10px;">
                <div class="col-sm-6" style="padding-left: 5px;">
                    <h1 class="breadcrumbs-title">{{ $t('application_list') }}</h1>
                </div>
                <div class="col-sm-6">

                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
            <div class="container-fluid">
                <div class="row-list">
                    <!-- left column -->
                    <div class="col-md-121" style="width: 100%">

                        <div class="row">
                            <div style="width: 100%">
                                <div class="card-list card-outline">
                                    <div style="display: flex; flex-wrap: wrap; padding-top: 7px; padding-bottom: 7px;">

                                        <div class="col-sm-6">

                                            <button type="button" class="btn btn-primary" @click="AddNew"><i class="fas fa-edit"></i> {{$t('add_new')}}</button>

                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                {{$t('action')}}
                                            </button>
                                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);" v-show="action">
                                                <a class="dropdown-item" href="#" @click.prevent="remove()"><i class="fa fa-trash red" style="margin-right: 10px"></i> {{$t('delete')}}</a>
                                                <a class="dropdown-item" href="#" @click.prevent="isActive(true)"><i class="fas fa-eye blue" style="margin-right: 10px"></i>{{$t('publish')}}</a>
                                                <a class="dropdown-item" href="#" @click.prevent="isActive(false)"><i class="fas fa-eye-slash red" style="margin-right: 10px"></i>{{$t('unpublish')}}</a>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body table-responsive p-0 table-height" :style="'height : '+ (windowHeight-205) +'px; position: relative;'">

                                        <table class="table table-hover text-nowrap table-head-fixed">
                                            <thead>
                                            <tr>
                                                <th style="width: 60px; text-align: center;">
                                                    <div class="icheck-primary">
                                                        <input type="checkbox" v-model="selectAll" id="checkAll">
                                                        <label for="checkAll"></label>
                                                    </div>
                                                </th>
                                                <th style="width: 40px;">{{$t('no')}}</th>
                                                <th>{{$t('menu_name')}}</th>
                                                <th style="width: 250px;">{{$t('menu_link')}}</th>
                                                <th style="width: 200px;">{{$t('menu_color')}}</th>
                                                <th style="width: 50px;">{{$t('state')}}</th>
                                                <th style="width: 120px;" class="align-right">{{$t('action')}}</th>
                                            </tr>
                                            </thead>

                                            <draggable v-model="data" group="menus" tag="tbody" @end="update_ordering(data)">
                                                <tr v-for="(menu,index) in data" :key="menu.id" :id="menu.id">
                                                    <td style="vertical-align: top;">
                                                        <div class="icheck-primary">
                                                            <input type="checkbox" :id="'all_'+menu.id" :value="menu.id" v-model="selected" @change="checked">
                                                            <label :for="'all_'+menu.id"></label>
                                                        </div>
                                                    </td>
                                                    <td style="vertical-align: top;"> {{numbering+index+1}}</td>
                                                    <td colspan="5">
                                                        <span class="handle ui-sortable-handle move"><i class="fas fa-arrows-alt"></i></span>
                                                        <a href="#" @click.prevent="show_data(menu.id)" :style="'color:'+menu.color"> <span style="margin-right: 10px;"> {{menu.title_en}} </span> {{menu.title_kh}}</a>
                                                        <button type="button" class="badge bg-danger float-right" @click="delete_data(menu.id)"><i class="fa fa-trash"></i> Delete</button>
                                                        <button type="button" class="badge bg-success float-right" @click="show_data(menu.id)" ><i class="fa fa-edit"></i> Edit</button>
                                                        <span v-if="menu.is_active == 0" class="float-right" style="width: 50px;"> <span class="badge bg-danger"><i class="fas fa-eye-slash"></i></span> </span>
                                                        <span v-else class="float-right" style="width: 50px;"><span class="badge bg-primary"><i class="fas fa-eye"></i></span></span>
                                                        <div class="float-right" style="width: 188px;">{{menu.color}}&nbsp;</div>
                                                        <div class="float-right" style="width: 238px;">{{menu.link}}</div>
                    

                                                        <draggable v-model="menu.subMenu" group="sub_menu" tag="div" @end="update_ordering(menu.subMenu)">
                                                            <div v-for="smenu in menu.subMenu" :key="smenu.id" v-if="smenu.parent_id" class="sub-menu-div">
                                                                <span class="handle ui-sortable-handle move"><i class="fas fa-arrows-alt"></i></span>
                                                                <a href="#" @click="show_data(smenu.id)" class="sub-menu-link" :style="'color:'+smenu.color"><i class="fa fa-long-arrow-alt-right orange"></i> <span style="margin-right: 10px;">{{smenu.title_en}} </span> {{smenu.title_kh}}</a>
                                                                <button type="button" class="badge bg-danger float-right" @click="delete_data(smenu.id)"><i class="fa fa-trash"></i> Delete</button>
                                                                <button type="button" class="badge bg-success float-right" @click="show_data(smenu.id)"><i class="fa fa-edit"></i> Edit</button>
                                                                <span v-if="smenu.is_active == 0" class="float-right" style="width: 50px;"> <span class="badge bg-danger"><i class="fas fa-eye-slash"></i></span> </span>
                                                                <span v-else class="float-right" style="width: 50px;"><span class="badge bg-primary"><i class="fas fa-eye"></i></span></span>
                                                                <div class="float-right" style="width: 188px;">{{smenu.color}}&nbsp;</div>
                                                                <div class="float-right" style="width: 238px;">{{smenu.link}}</div>
                
                                                            </div>
                                                        </draggable>

                                                    </td>
                                                </tr>

                                            </draggable>
                                        </table>

                                        <div class="col-sm-12" style="border-top: 1px solid #dee2e6; color: #6c757d;">
                                            <!--start pagination-->
                                            <vue-ads-pagination :total-items="total" :max-visible-pages="3" :items-per-page="per_page" :page="page" :loading="loading" @range-change="rangeChange">
                                                <template slot-scope="props">
                                                    <div class="vue-ads-pr-2 vue-ads-leading-loose">
                                                        {{$t('p_row')}} :
                                                        <select id="displayRows" @change="onChange($event)">
                                                            <option value="10">10</option>
                                                            <option value="20">20</option>
                                                            <option value="30">30</option>
                                                            <option value="50">50</option>
                                                            <option value="100">100</option>
                                                        </select>
                                                    </div>
                                                    <div class="vue-ads-pr-2 vue-ads-leading-loose">
                                                        {{ props.start }} - {{ props.end }} {{$t('p_of')}} {{ props.total }}
                                                    </div>
                                                </template>
                                                <template slot="buttons" slot-scope="props">
                                                    <vue-ads-page-button v-for="(button, key) in props.buttons" :key="key" v-bind="button" @page-change="page = button.page"/>
                                                </template>
                                            </vue-ads-pagination>
                                            <!--start pagination-->
                                        </div>

                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>

                    </div>


                    <!-- Modal -->
                    <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" v-show="!editmode" id="addNewLabel">{{$t('add_application')}}</h5>
                                    <h5 class="modal-title" v-show="editmode" id="addNewLabel">{{$t('edit_applcation')}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form class="form-horizontal" @submit.prevent="editmode ? update_data() : save_data()">
                                    <div class="card-body">

                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-sm-3 col-form-label">{{$t('menu_parent')}}</label>
                                            <div class="col-sm-9">
                                                <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true" v-model="form.parent_id">
                                                    <option selected="selected" value="0" data-select2-id="3">No Parent</option>
                                                    <option data-select2-id="30" v-for="menu in menuParent" :key="menu.id" :value="menu.id">{{menu.title_en}} | {{menu.title_kh}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputPassword3" class="col-sm-3 col-form-label">{{$t('menu_name')}}</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="inputPassword3" required placeholder="" v-model="form.title_en">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputPassword3" class="col-sm-3 col-form-label">{{$t('menu_name')}}</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="inputPassword3" required placeholder="" v-model="form.title_kh">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputPassword4" class="col-sm-3 col-form-label">{{$t('menu_link')}}</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="inputPassword4" placeholder="" v-model="form.link">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputPassword5" class="col-sm-3 col-form-label">{{$t('menu_class')}}</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="inputPassword5" placeholder="far fa-circle" v-model="form.class">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputPassword5" class="col-sm-3 col-form-label">{{$t('desc')}}</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="inputPassword5" placeholder="far fa-circle" v-model="form.description">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputPassword6" class="col-sm-3 col-form-label">{{$t('menu_color')}}</label>
                                            <div class="col-sm-9">
<!--                                                <input type="text" class="form-control" id="inputPassword6" placeholder="" v-model="form.color">-->

                                                <color-picker
                                                    :theme="light"
                                                    :color="form.color"
                                                    :sucker-hide="false"
                                                    :sucker-canvas="suckerCanvas"
                                                    :sucker-area="suckerArea"
                                                    @changeColor="changeColor"
                                                />


                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputPassword6" class="col-sm-3 col-form-label">{{$t('state')}}</label>
                                            <div class="col-sm-9 custom-control custom-switch" style="padding-left: 50px;">
                                                <input type="checkbox" class="custom-control-input" id="customSwitch1" v-model="form.is_active">
                                                <label class="custom-control-label" for="customSwitch1">isActive?</label>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer text-right">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i> {{$t('cancel')}}</button>
                                        <button v-show="editmode" type="submit" class="btn btn-success"><i class="fas fa-edit"></i> {{$t('update')}}</button>
                                        <button v-show="!editmode" type="submit" class="btn btn-primary"><i class="fas fa-save"></i> {{$t('save')}}</button>
                                    </div>
                                    <!-- /.card-footer -->
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
    </section>

    </div>
</template>

<script>
    import draggable from 'vuedraggable'
    import VueAdsPagination, { VueAdsPageButton } from 'vue-ads-pagination';
    import Swal from 'sweetalert2/dist/sweetalert2.js';
    import axios from "axios";
    import store from '../../Store'

    import colorPicker from '@caohenghu/vue-colorpicker'

    export default {
        components: {
            draggable,
            VueAdsPagination,
            VueAdsPageButton,
            colorPicker,
        },
        data() {
            return {
                light: 'light',
                suckerCanvas: null,
                suckerArea: [],
                isSucking: false,

                enabled: true,
                dragging: false,

                //Pagination return
                total:0,
                per_page:10,
                loading: false,
                page: 0,
                numbering : '',
                selected: [],
                action: false,
                editmode : false,
                data : {},
                menuParent: {},
                form: new Form({
                    id:'',
                    title_kh: '',
                    title_en: '',
                    parent_id: '',
                    link: '',
                    class: '',
                    is_active: 0,
                    color: '#808080',
                    ordering: '',
                    description
                }),
            }
        },
        computed: {
            selectAll: {
                get: function () {
                    return this.data ? this.selected.length == this.data.length : false;
                },
                set: function (value) {
                    var selected = [];
                    if (value) {
                        this.data.forEach(function (value) {
                            selected.push(value.id);
                        });
                    }
                    this.selected = selected;
                    this.checked();
                }
            }
        },
        methods: {
            changeColor(color) {
                this.form.color = color.hex;
            },
            checked(){
                if (this.selected.length > 0){
                    this.action = true;
                }else{
                    this.action = false;
                }
            },
            checkMove: function(e) {
                this.update_ordering();
            },
            onChange(event) {
                this.$loading(true);
                this.per_page = parseInt(event.target.value);
                axios.get('/api/application?paginate='+this.per_page)
                    .then(response => {
                        this.total = response.data.meta.total;
                        this. page = 0;
                        this.data = response.data.data;
                        this.$loading(false);
                    });
            },
            rangeChange (start, end) {
                if (this.numbering !== start){
                    this.$loading(true);
                    this.numbering = start;
                    var page = end / this.per_page;
                    if ((start+this.per_page)>this.total){
                        page = page+1;
                    }
                    axios.get('/api/application?page=' + parseInt(page)+'&paginate='+parseInt(this.per_page))
                        .then(response => {
                            this.data = response.data.data;
                            this.total = response.data.meta.total;
                            this.$loading(false);
                        });
                }
            },
            load_data() {
                axios.get('/api/application')
                    .then(response => {
                        this.data = response.data.data;
                        this.total = response.data.meta.total;
                    });
            },
            AddNew(){
                store.getters.isloggedin;
                this.editmode = false;
                this.form.reset();
                $('#addNew').modal('show');
            },
            save_data() {
                this.form.post('/api/application')
                    .then((response) => {
                        this.form.reset();
                        this.getParentMenu();
                        this.load_data();
                        this.load_menu();
                        this.$toast.success({
                            title:'Create Application',
                            message:'Application have been created successful!'
                        });
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'Create Application',
                            message: error.message
                        });
                    })
            },
            load_menu: function(){
                this.$parent.$emit('load_menu');
            },
            update_data(){
                this.form.put('/api/application/' + this.form.id)
                    .then((response) => {
                        this.editmode = false;
                        this.form.reset();
                        this.getParentMenu();
                        this.load_data();
                        this.load_menu();
                        $('#addNew').modal('hide');
                        this.$toast.success({
                            title:'Update Application',
                            message:'Application have been updated successful!'
                        });
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'Update Data',
                            message: error.message
                        });
                    })
            },
            show_data(id){
                this.$loading(true);
                axios.get('/api/application/' + id)
                    .then(response => {
                        this.editmode = true;
                        $('#addNew').modal('show');
                        this.form.fill(response.data.data);
                        this.$loading(false);
                    });
            },
            delete_data(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.form.delete('/api/application/'+id).then(()=>{
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            );
                            Fire.$emit('AfterCreate');
                        }).catch(()=> {
                            Swal.fire("Failed!", "There was something wronge.", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                });
            },
            reset_data(){
                this.form.reset();
                this.editmode = false;
            },
            getParentMenu(){
                axios.get('/api/application-get-all-parent')
                    .then(response => {
                        this.menuParent = response.data.data;
                    });
            },
            update_ordering(menu){
                let data = {
                    total: this.total,
                    menus: menu,
                };

                axios.put('/api/application-update-ordering',data)
                    .then((response) => {
                        this.form.reset();
                        this.load_data();
                        this.load_menu();
                        this.$toast.success({
                            title:'Update Ordering',
                            message:'Ordering have been updated successful!'
                        });
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'Update Applicaiton',
                            message: error.message
                        });
                    })
            },
            remove(){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/api/application/remove/'+this.selected).then(()=>{
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            );
                            this.selected.length = 0;
                            this.load_data();
                        }).catch(()=> {
                            Swal.fire("Failed!", "There was something wronge.", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                });
            },
            isActive(state){
                let data = {
                    is_active: state,
                };
                axios.put('/api/application/isActive/'+this.selected,data)
                    .then((response) => {
                        this.selected.length = 0;
                        this.load_data();
                    });
            },
        },
        created() {
            this.getParentMenu();
            Fire.$on('AfterCreate',() => {
                this.load_data();
                this.getParentMenu();
            });
        }
    }
</script>
