// Fonts
@font-face {
    font-family: "Odor Mean Chey";
    src: url('/fonts/khmer-font/KhmerOSContent-Bold.ttf');
    src: url('/fonts/khmer-font/KhmerOSContent-Regular.ttf');
    src: url('/fonts/khmer-font/OdorMeanChey.ttf');
    font-weight: 400;
    font-style: normal;
}

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';
@import '~admin-lte/dist/css/adminlte.min.css';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import "~vue-select/src/scss/vue-select.scss";
@import "~vue-ads-pagination/dist/vue-ads-pagination.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@syncfusion/ej2-vue-grids/styles/material.css";
.s-7 {
    font-size: 7px;
}

.s-8 {
    font-size: 8px;
}

.s-9 {
    font-size: 9px;
}

.s-10 {
    font-size: 10px;
}

.s-12 {
    font-size: 12px;
}

.s-14 {
    font-size: 14px;
}

.s-16 {
    font-size: 16px;
}

.s-18 {
    font-size: 18px;
}

.s-20 {
    font-size: 20px;
}

.s-24 {
    font-size: 24px;
}

.float-right {
    float: right;
    margin-left: 5px;
}

.move {
    cursor: s-resize;
}

.sub-menu-div {
    padding: 5px 0px;
    border-top: 1px dotted rgb(78 91 108 / 18%);
    margin-top: 5px;
}

.sub-menu-link {
    color: rgb(148 148 148);
    font-size: 12px;
    font-style: italic;
    font-weight: 100;
}

.required {
    color: red;
}

.sub-info {
    padding: 1px 6px;
    background: #f4f4f4;
    font-size: 11px;
    font-style: italic;
    border: 1px dashed #f1c18e;
    border-radius: 0.2rem;
    margin-right: 10px;
}

.vue-ads-text-xs {
    font-size: .75rem;
    font-family: sans-serif, "Odor Mean Chey", Nunito;
}

.vue-ads-w-6 {
    width: auto;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 13px;
}

.vue-ads-bg-teal-500 {
    background-color: #3490dc;
}

.route-active {
    background-color: #3490dc;
    color: #fff !important;
}

.router-link-exact-active .router-link-active {
    background-color: #3c8dbc;
    color: #fff !important;
}

[class*='sidebar-light'] .brand-link {
    border-bottom: 1px solid #dee2e6;
    color: rgb(255 255 255 / 100%);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255 / 100%);
}

.btn-xs {
    padding: .45rem .4rem;
    font-size: .675rem !important;
    line-height: .5;
    border-radius: .2rem;
}

.card-title {
    margin-bottom: 0rem;
}

.badge {
    display: inline-block;
    padding: 0.45em 0.4em;
    font-size: 11px;
    font-weight: 100;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.swal2-popup {
    font-size: 0.8rem !important;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.role-permission {
    width: 80px;
    text-align: center;
}

#role-setting th,
#role-setting td {
    padding: 0.7rem;
    border-top: 1px solid rgba(223, 227, 231, 0.45);
}

.card-header {
    padding: 0.5rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.table th,
.table td {
    padding: 0.65rem;
    vertical-align: middle;
    border-top: 1px solid rgba(223, 227, 231, 0.45);
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.9rem + 2px);
    padding: 0.155rem 0.75rem;
    font-size: 0.90rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.badge {
    display: inline-block;
    padding: 0.45em 0.6em;
    font-size: 9px;
    font-weight: 100;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.bg-success {
    background-color: #3c8dbc !important;
}

.breadcrumbs-title {
    font-size: 18px;
}

.elevation-4 {
    box-shadow: 0 0px 0px #ffffff, 0 0px 0px #ffffff !important;
    border-right: 1px solid #dfe1e4;
}

.card-list {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 0rem;
}

.row-list {
    display: flex;
    flex: 1 0 100%;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}

.btn-primary-list {
    color: #000000;
    background-color: #ffffff;
    border-color: #c1c1c1;
}

.card-footer-list {
    padding: 0.25rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    background-color: rgb(255 255 255);
}

.vue-ads-m-2 {
    margin: .5rem;
    float: right;
}

.vue-ads-flex {
    display: inline-flex;
}

.filter {
    padding-top: 7px;
    padding-right: 7px;
}

.btn-default {
    background-color: #f8f9fa;
    border-color: #ddd;
    color: #444;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 600px;
        margin: 1.75rem auto;
    }
}