<template>
    <div>
        <section class="content-header" style="border-bottom: 1px solid rgb(222 226 230); background-color: rgb(255 255 255);">
            <div class="container-fluid">
                <div class="row mb-2" style="padding-top: 10px;">
                    <div class="col-sm-6" style="padding-left: 5px;">
                        <h1 class="breadcrumbs-title">{{ $t('role_list') }}</h1>
                    </div>
                    <div class="col-sm-6">

                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="row-list">
                    <!-- left column -->
                    <div class="col-md-121" style="width: 100%">

                        <div class="row">
                            <div style="width: 100%">
                                <div class="card-list card-outline">
                                    <div style="display: flex; flex-wrap: wrap; padding-top: 7px; padding-bottom: 7px;">

                                        <div class="col-sm-6">

                                            <button type="button" class="btn btn-primary" @click="AddNew"><i class="fas fa-edit"></i> {{$t('add_new')}}</button>

                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                {{$t('action')}}
                                            </button>
                                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);" v-show="action">
                                                <a class="dropdown-item" href="#" @click.prevent="delete_data(selectedList)"><i class="fa fa-trash red" style="margin-right: 10px"></i> {{$t('delete')}}</a>
                                                <a class="dropdown-item" href="#" @click.prevent="isActive(true)"><i class="fas fa-eye blue" style="margin-right: 10px"></i>{{$t('publish')}}</a>
                                                <a class="dropdown-item" href="#" @click.prevent="isActive(false)"><i class="fas fa-eye-slash red" style="margin-right: 10px"></i>{{$t('unpublish')}}</a>
                                            </div>
                                        </div>


                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body table-responsive p-0 table-height" :style="'height : '+ (windowHeight-215) +'px; position: relative;'">

                                        <table class="table table-hover text-nowrap table-head-fixed">
                                            <thead>
                                            <tr>
                                                <th style="width: 60px; text-align: center;">
                                                    <div class="icheck-primary">
                                                        <input type="checkbox" v-model="selectAllList" id="checkAllList">
                                                        <label for="checkAllList"></label>
                                                    </div>
                                                </th>
                                                <th style="width: 40px;">{{$t('no')}}</th>
                                                <th>{{$t('name')}}</th>
                                                <th>{{$t('desc')}}</th>
                                                <th style="width: 60px;">{{$t('state')}}</th>
                                                <th style="width: 120px;" class="align-right">{{$t('action')}}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="(role,index) in data" :key="role.id">
                                                <td>
                                                    <div class="icheck-primary">
                                                        <input type="checkbox" :id="'allList_'+role.id" :value="role.id" v-model="selectedList" @change="checked">
                                                        <label :for="'allList_'+role.id"></label>
                                                    </div>
                                                </td>
                                                <td>{{numbering+index+1}}</td>
                                                <td>
                                                    <a href="#" @click.prevent="show_data(role.id)">{{role.name}}</a> <br/>
                                                </td>
                                                <td>{{role.description}}</td>
                                                <td v-if="role.is_active == 0" class="align-center"> <span class="badge bg-danger"><i class="fas fa-eye-slash"></i></span> </td>
                                                <td v-else class="align-center"><span class="badge bg-primary"><i class="fas fa-eye"></i></span></td>
                                                <td>

                                                <div class="btn-group" style="margin-left: 10px;">
                                                    <button type="button" class="btn btn-default btn-xs">{{$t('action')}}</button>
                                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                                    </button>
                                                    <div class="dropdown-menu" role="menu" style="">
                                                        <a class="dropdown-item" href="#" @click.prevent="show_data(role.id)"><i class="fa fa-edit" style="margin-right: 10px"></i> {{$t('edit')}}</a>
                                                        <a class="dropdown-item" href="#" @click.prevent="delete_data(role.id)"><i class="fa fa-trash red" style="margin-right: 10px"></i> {{$t('delete')}}</a>
                                                        <a class="dropdown-item" href="#" @click.prevent="isActive_by_id(role.id, true)"><i class="fas fa-eye blue" style="margin-right: 10px"></i>{{$t('publish')}}</a>
                                                        <a class="dropdown-item" href="#" @click.prevent="isActive_by_id(role.id, false)"><i class="fas fa-eye-slash red" style="margin-right: 10px"></i>{{$t('unpublish')}}</a>
                                                    </div>
                                                </div>

                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>

                                        <div class="col-sm-12" style="border-top: 1px solid #dee2e6; color: #6c757d;">
                                            <!--start pagination-->
                                            <vue-ads-pagination :total-items="total" :max-visible-pages="3" :items-per-page="per_page" :page="page" :loading="loading" @range-change="rangeChange">
                                                <template slot-scope="props">
                                                    <div class="vue-ads-pr-2 vue-ads-leading-loose">
                                                        {{$t('p_row')}} :
                                                        <select id="displayRows" @change="onChange($event)">
                                                            <option value="10">10</option>
                                                            <option value="20">20</option>
                                                            <option value="30">30</option>
                                                            <option value="50">50</option>
                                                            <option value="100">100</option>
                                                        </select>
                                                    </div>
                                                    <div class="vue-ads-pr-2 vue-ads-leading-loose">
                                                        {{ props.start }} - {{ props.end }} {{$t('p_of')}} {{ props.total }}
                                                    </div>
                                                </template>
                                                <template slot="buttons" slot-scope="props">
                                                    <vue-ads-page-button v-for="(button, key) in props.buttons" :key="key" v-bind="button" @page-change="page = button.page"/>
                                                </template>
                                            </vue-ads-pagination>
                                            <!--start pagination-->
                                        </div>


                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>

                    </div>


                    <!-- Modal -->
                    <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" v-show="!editmode">{{$t('role_setting')}}</h5>
                                    <h5 class="modal-title" v-show="editmode">{{$t('role_setting')}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form class="form-horizontal" @submit.prevent="editmode ? update_data() : save_data()">
                                    <div class="card-body">

                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-sm-2 col-form-label">{{$t('name')}}<span class="required">*</span></label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="inputPassword3" placeholder="" required v-model="form.name">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputPassword4" class="col-sm-2 col-form-label">{{$t('desc')}}</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="inputPassword4" placeholder="" v-model="form.description">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="is_active" class="col-sm-2 col-form-label">{{$t('state')}}</label>
                                            <div class="col-sm-10 custom-control custom-switch" style="padding-left: 50px;">
                                                <input type="checkbox" class="custom-control-input" id="customSwitch1" v-model="form.is_active">
                                                <label class="custom-control-label" for="customSwitch1">isActive?</label>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="card-body table-responsive p-0" style="height: 350px; position: relative;">
                                                <table class="table table-striped table-head-fixed text-nowrap">
                                                    <thead>
                                                    <tr>
                                                        <th style="width: 10px">
                                                            <div class="icheck-primary">
                                                                <input type="checkbox" v-model="selectAll" id="checkAll" @click="checkSelecteAll()">
                                                                <label for="checkAll"></label>
                                                            </div>
                                                        </th>
                                                        <th>{{$t('menu_name')}}</th>
                                                        <th class="role-permission">{{$t('t_view')}}</th>
                                                        <th class="role-permission">{{$t('t_insert')}}</th>
                                                        <th class="role-permission">{{$t('t_update')}}</th>
                                                        <th class="role-permission">{{$t('t_delete')}}</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr v-for="(menu,index) in form.menus" :key="menu.backend_menu_id">
                                                        <td>
                                                            <div class="icheck-primary">
                                                                <input type="checkbox" :id="'all_'+menu.backend_menu_id" :name="'all_'+menu.backend_menu_id" :value="menu.backend_menu_id" v-model="selected" @change="checkAll(menu.backend_menu_id)">
                                                                <label :for="'all_'+menu.backend_menu_id"></label>
                                                            </div>
                                                        </td>
                                                        <td v-if="$parent.lang === 'kh'">{{menu.title_kh}}</td>
                                                        <td v-if="$parent.lang === 'en'">{{menu.title_en}}</td>
                                                        <td class="align-center">
                                                            <div class="icheck-primary">
                                                                <input type="checkbox" :id="'view_'+menu.backend_menu_id" name="m_view[]" :value="menu.m_view" v-model="menu.m_view">
                                                                <label :for="'view_'+menu.backend_menu_id"></label>
                                                            </div>
                                                        </td>
                                                        <td class="align-center">
                                                            <div class="icheck-primary">
                                                                <input type="checkbox" :id="'insert_'+menu.backend_menu_id" name="m_insert[]" :value="menu.m_insert" v-model="menu.m_insert">
                                                                <label :for="'insert_'+menu.backend_menu_id"></label>
                                                            </div>
                                                        </td>
                                                        <td class="align-center">
                                                            <div class="icheck-primary">
                                                                <input type="checkbox" :id="'update_'+menu.backend_menu_id" name="m_update[]" :value="menu.m_update" v-model="menu.m_update">
                                                                <label :for="'update_'+menu.backend_menu_id"></label>
                                                            </div>
                                                        </td>
                                                        <td class="align-center">
                                                            <div class="icheck-primary">
                                                                <input type="checkbox" :id="'delete_'+menu.backend_menu_id" name="m_delete[]" :value="menu.m_delete" v-model="menu.m_delete">
                                                                <label :for="'delete_'+menu.backend_menu_id"></label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer text-right">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i> {{$t('cancel')}}</button>
                                        <button v-show="editmode" type="submit" class="btn btn-success"><i class="fas fa-edit"></i> {{$t('update')}}</button>
                                        <button v-show="!editmode" type="submit" class="btn btn-primary"><i class="fas fa-save"></i> {{$t('save')}}</button>
                                    </div>
                                    <!-- /.card-footer -->
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>

    </div>
</template>

<script>
    import VueAdsPagination, { VueAdsPageButton } from 'vue-ads-pagination';
    import Swal from 'sweetalert2/dist/sweetalert2.js';
    import axios from "axios";

    export default {
        components: {
            VueAdsPagination,
            VueAdsPageButton,
        },
        data() {
            return {
                //Pagination return
                total:0,
                per_page:10,
                loading: false,
                page: 0,
                numbering : '',
                action: false,
                selectedList: [],
                selected: [],
                editmode : false,
                data : {},
                exists: false,
                form: new Form({
                    id: '',
                    name: '',
                    description: '',
                    is_active: false,
                    menus:[]
                }),
            }
        },
        computed: {
            selectAllList: {
                get: function () {
                    return this.data ? this.selectedList.length == this.data.length : false;
                },
                set: function (value) {
                    var selected = [];
                    if (value) {
                        this.data.forEach(function (value) {
                            selected.push(value.id);
                        });
                    }
                    this.selectedList = selected;
                    this.checked();
                }
            },
            selectAll: {
                get: function () {
                    return this.form.menus ? this.selected.length == this.form.menus.length : false;
                },
                set: function (value) {
                    var selected = [];
                    if (value) {
                        this.form.menus.forEach(function (menu) {
                            selected.push(menu.backend_menu_id);
                        });
                    }
                    this.selected = selected;
                }
            }
        },
        methods: {
            checked(){
                if (this.selectedList.length > 0){
                    this.action = true;
                }else{
                    this.action = false;
                }
            },
            onChange(event) {
                this.$loading(true);
                this.per_page = parseInt(event.target.value);
                axios.get('/api/role?paginate='+this.per_page)
                    .then(response => {
                        this.total = response.data.meta.total;
                        this. page = 0;
                        this.data = response.data.data;
                        this.$loading(false);
                    });
            },
            rangeChange (start, end) {
                if(this.numbering !== start){
                    this.$loading(true);
                    this.numbering = start;
                    var page = end / this.per_page;
                    if ((start+this.per_page)>this.total){
                        page = page+1;
                    }
                    axios.get('/api/role?page=' + parseInt(page)+'&paginate='+parseInt(this.per_page))
                        .then(response => {
                            this.data = response.data.data;
                            this.total = response.data.meta.total;
                            this.$loading(false);
                        });
                }
            },
            load_data() {
                axios.get('/api/role')
                    .then(response => {
                        this.data = response.data.data;
                        this.total = response.data.meta.total;
                    });
            },
            AddNew(){
                this.getAllMenu();
                this.editmode = false;
                this.selected = [];
                this.form.reset();
                $('#addNew').modal('show');
            },
            save_data() {
                this.form.post('/api/role')
                    .then((response) => {
                        this.form.reset();
                        this.$toast.success({
                            title:'Create Role',
                            message:'Role have been created successful!'
                        });
                        this.reset_data();
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'Create Menu',
                            message: error.message
                        });
                    })
            },
            update_data(){
                this.form.put('/api/role/' + this.form.id)
                    .then((response) => {
                        this.form.reset();
                        $('#addNew').modal('hide');
                        this.$toast.success({
                            title:'Update Data',
                            message:'Menu have been updated successful!'
                        });
                        this.reset_data();
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'Update Data',
                            message: error.message
                        });
                    })
            },
            show_data(id){
                this.$loading(true);
                axios.get('/api/getAllMenus')
                    .then(response => {
                        this.form.menus = response.data.data;
                        axios.get('/api/role/' + id)
                            .then(response => {
                                this.editmode = true;
                                this.form.id = response.data.data.id;
                                this.form.name = response.data.data.name;
                                this.form.description = response.data.data.description;
                                this.form.is_active = response.data.data.is_active;
                                var menus_selected = [];
                                var i = 0;
                                this.form.menus.forEach(function (c_menu) {
                                    response.data.data.menus.forEach(function (l_menu) {
                                        if (c_menu.backend_menu_id === l_menu.backend_menu_id){
                                            c_menu.id = l_menu.id;
                                            c_menu.m_view = l_menu.m_view;
                                            c_menu.m_insert = l_menu.m_insert;
                                            c_menu.m_update = l_menu.m_update;
                                            c_menu.m_delete = l_menu.m_delete;
                                            if ((l_menu.m_view===1)&&(l_menu.m_insert===1)&&(l_menu.m_update===1)&&(l_menu.m_delete===1)){
                                                menus_selected.push(l_menu.backend_menu_id);
                                            }
                                        }
                                    });
                                    i = i + 1;
                                });
                                this.selected = menus_selected;
                                $('#addNew').modal('show');
                                this.$loading(false);
                            });
                    });
            },
            delete_data(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.form.delete('/api/role/'+id).then(()=>{
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            );
                            Fire.$emit('AfterCreate');
                        }).catch(()=> {
                            Swal.fire("Failed!", "There was something wronge.", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                });
            },
            reset_data(){
                this.form.reset();
                this.editmode = false;
                this.selected = [];
                this.selectedList = [];
                this.load_data();
                this.getAllMenu();
            },
            getAllMenu(){
                axios.get('/api/getAllMenus')
                    .then(response => {
                        this.form.menus = response.data.data;
                    });
            },
            checkIfExists(menuId) {
                this.exists = this.selected.some((item) => {
                    if (menuId === item){
                        return true;
                    }
                })
            },
            checkAll: function(menu_id){
                for (var i = 0; i < this.form.menus.length; i++){
                    if (menu_id === this.form.menus[i].backend_menu_id){
                        this.checkIfExists(menu_id);
                        if (this.exists === true){
                            this.form.menus[i].m_view = true;
                            this.form.menus[i].m_insert = true;
                            this.form.menus[i].m_update = true;
                            this.form.menus[i].m_delete = true;
                        }else{
                            this.form.menus[i].m_view = false;
                            this.form.menus[i].m_insert = false;
                            this.form.menus[i].m_update = false;
                            this.form.menus[i].m_delete = false;
                        }
                    }
                }
            },
            checkSelecteAll: function(){
                if (this.selected.length > 0){
                    for (var i = 0; i < this.form.menus.length; i++){
                        this.form.menus[i].m_view = false;
                        this.form.menus[i].m_insert = false;
                        this.form.menus[i].m_update = false;
                        this.form.menus[i].m_delete = false;
                    }
                }else {
                    for (var i = 0; i < this.form.menus.length; i++){
                        this.form.menus[i].m_view = true;
                        this.form.menus[i].m_insert = true;
                        this.form.menus[i].m_update = true;
                        this.form.menus[i].m_delete = true;
                    }
                }
            },
            isActive(state){
                let data = {
                    is_active: state,
                };
                axios.put('/api/role/isActive/'+this.selectedList,data)
                    .then((response) => {
                        this.selectedList.length = 0;
                        this.load_data();
                    });
            },
            isActive_by_id(id, state){
                let data = {
                    is_active: state,
                };
                axios.put('/api/role/isActive/'+id,data)
                    .then((response) => {
                        this.selected.length = 0;
                        this.load_data();
                    });
            }
        },
        created() {
            Fire.$on('AfterCreate',() => {
                this.load_data();
                this.getAllMenu();
            });
        }
    }
</script>

