<template>
    <div>
        <section class="content-header" style="border-bottom: 1px solid rgb(222 226 230); background-color: rgb(255 255 255);">
            <div class="container-fluid">
                <div class="row mb-2" style="padding-top: 10px;">
                    <div class="col-sm-6" style="padding-left: 5px;">
                        <h1 class="breadcrumbs-title">{{$t('categories')}} {{$t('list') }}</h1>
                    </div>
                    <div class="col-sm-6">

                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="row-list">
                    <!-- left column -->
                    <div class="col-md-121" style="width: 100%">

                        <div class="row">
                            <div style="width: 100%">
                                <div class="card-list card-outline">
                                    <div style="display: flex; flex-wrap: wrap; padding-top: 7px; padding-bottom: 3px;">

                                        <div class="col-sm-6">

                                            <button type="button" class="btn btn-primary" @click="AddNew"><i class="fas fa-edit"></i> {{$t('add_new')}}</button>

                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                {{$t('action')}}
                                            </button>
                                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);" v-show="action">
                                                <a class="dropdown-item" href="#" @click.prevent="delete_data(selected)"><i class="fa fa-trash red" style="margin-right: 10px"></i> {{$t('delete')}}</a>
                                                <a class="dropdown-item" href="#" @click.prevent="isActive(true)"><i class="fas fa-eye blue" style="margin-right: 10px"></i>{{$t('publish')}}</a>
                                                <a class="dropdown-item" href="#" @click.prevent="isActive(false)"><i class="fas fa-eye-slash red" style="margin-right: 10px"></i>{{$t('unpublish')}}</a>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <!--start pagination-->
                                            <vue-ads-pagination :total-items="total" :max-visible-pages="3" :items-per-page="per_page" :page="page" :loading="loading" @range-change="rangeChange">
                                                <template slot-scope="props">
                                                    <div class="vue-ads-pr-2 vue-ads-leading-loose">
                                                        {{$t('p_row')}} :
                                                        <select id="displayRows" @change="onChange($event)">
                                                            <option value="10">10</option>
                                                            <option value="20">20</option>
                                                            <option value="30">30</option>
                                                            <option value="50">50</option>
                                                            <option value="100">100</option>
                                                        </select>
                                                    </div>
                                                    <div class="vue-ads-pr-2 vue-ads-leading-loose">
                                                        {{ props.start }} - {{ props.end }} {{$t('p_of')}} {{ props.total }}
                                                    </div>
                                                </template>
                                                <template slot="buttons" slot-scope="props">
                                                    <vue-ads-page-button v-for="(button, key) in props.buttons" :key="key" v-bind="button" @page-change="page = button.page"/>
                                                </template>
                                            </vue-ads-pagination>
                                            <!--start pagination-->
                                        </div>

                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body table-responsive p-0 table-height" :style="'height : '+ (windowHeight-215) +'px; position: relative;'">

                                        <table class="table table-hover text-nowrap table-head-fixed">
                                            <thead>
                                            <tr>
                                                <th style="width: 60px; text-align: center;">
                                                    <div class="icheck-primary">
                                                        <input type="checkbox" v-model="selectAll" id="checkAll">
                                                        <label for="checkAll"></label>
                                                    </div>
                                                </th>
                                                <th style="width: 60px;">{{$t('no')}}</th>
                                                <th style="width: 60px;">{{$t('thumbnail')}}</th>
                                                <th>{{$t('name')}}</th>
                                                <th>{{$t('desc')}}</th>
                                                <th>{{$t('branch_name')}}</th>
                                                <th style="width: 50px;">{{$t('state')}}</th>
                                                <th style="width: 120px;" class="align-right">{{$t('action')}}</th>
                                            </tr>
                                            </thead>
                                            <tbody v-for="(value,index) in data" :key="value.id">

                                            <tr>
                                                <td>
                                                    <div class="icheck-primary">
                                                        <input type="checkbox" :id="'all_'+value.id" :value="value.id" v-model="selected" @change="checked">
                                                        <label :for="'all_'+value.id"></label>
                                                    </div>
                                                </td>
                                                <td>{{numbering+index+1}}</td>
                                                <td>
                                                    <a v-if="value.thumbnail !== null" href="#" @click.prevent="show_data(value.id)"><img :src="'/images/thumbnails/'+value.thumbnail"  style="max-width: 60px;"/></a>
                                                    <a v-else href="#" @click.prevent="show_data(value.id)"><img :src="'/img/image-notfound.png'"  style="max-width: 60px;"/></a>
                                                </td>
                                                <td><a href="#" @click.prevent="show_data(value.id)">{{value.name}}</a></td>
                                                <td>{{value.description}}</td>
                                                <td>
                                                    <span v-for="b in value.branches" class="sub-info indigo">{{b.branch_name}}</span>
                                                </td>

                                                <td v-if="value.is_active == 0" class="align-center"> <span class="badge bg-danger"><i class="fas fa-eye-slash"></i></span> </td>
                                                <td v-else class="align-center"><span class="badge bg-primary"><i class="fas fa-eye"></i></span></td>
                                                <td>
                                                    <button type="button" class="badge bg-success" @click="show_data(value.id)" ><i class="fa fa-edit"></i> {{$t('edit')}}</button>
                                                    <button type="button" class="badge bg-danger" @click="delete_data(value.id)"><i class="fa fa-trash"></i> {{$t('delete')}}</button>
                                                </td>
                                            </tr>

                                            <tr v-for="(row,ind) in value.subCategory" :key="row.id">
                                                <td></td>
                                                <td><i class="fa fa-long-arrow-alt-right orange"></i></td>
                                                <td><a href="#" @click.prevent="show_data(row.id)"><img :src="'/images/thumbnails/'+row.thumbnail"  style="max-width: 60px;"/></a></td>
                                                <td><a href="#" @click.prevent="show_data(row.id)">{{row.name}}</a></td>
                                                <td>{{row.description}}</td>
                                                <td>
                                                    <span v-for="bra in row.branches" class="sub-info indigo">{{bra.branch_name}}</span>
                                                </td>

                                                <td v-if="row.is_active == 0" class="align-center"> <span class="badge bg-danger"><i class="fas fa-eye-slash"></i></span> </td>
                                                <td v-else class="align-center"><span class="badge bg-primary"><i class="fas fa-eye"></i></span></td>
                                                <td>
                                                    <button type="button" class="badge bg-success" @click="show_data(row.id)" ><i class="fa fa-edit"></i> {{$t('edit')}}</button>
                                                    <button type="button" class="badge bg-danger" @click="delete_data(row.id)"><i class="fa fa-trash"></i> {{$t('delete')}}</button>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>

                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>

                    </div>


                    <!-- Modal -->
                    <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" v-show="!editmode">{{$t('add_new')}} {{$t('category')}}</h5>
                                    <h5 class="modal-title" v-show="editmode">{{$t('update')}} {{$t('category')}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form class="form-horizontal" @submit.prevent="editmode ? update_data() : save_data()">
                                    <div class="card-body">

                                        <div class="form-group row">
                                            <label for="" class="col-sm-4 col-form-label">{{$t('branch_name')}}<span class="required">*</span></label>
                                            <div class="col-sm-8">
                                                <v-select multiple v-model="form.branches" required :options="branch" label="branch_name" value="id"/>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="" class="col-sm-4 col-form-label">{{$t('parent')}}<span class="required">*</span></label>
                                            <div class="col-sm-8">
                                                <select class="form-control" v-model="form.parent_id" required>
                                                    <option selected value="0">{{$t('no_parent')}}</option>
                                                    <option v-for="value in CategoryParent" :value="value.id">{{value.name}}</option>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <label for="" class="col-sm-4 col-form-label">{{$t('category')}}<span class="required">*</span></label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control"  v-model="form.name" required>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="" class="col-sm-4 col-form-label">{{$t('desc')}}</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" v-model="form.description">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="thumb_image" class="col-sm-4 col-form-label">{{$t('thumbnail')}}</label>

                                            <div class="col-sm-10 col-md-8" v-if="form.thumbnail">
                                                <div style="padding-top:10px;">
                                                    <img :src="`/images/thumbnails/${form.thumbnail}`" style="max-width: 150px;"/>
                                                    <button type="button" class="btn btn-danger btn-xs" @click="deleteImg(form.thumbnail)"><i class="fa fa-trash-alt"></i></button>
                                                </div>
                                            </div>

                                            <div class="col-sm-10 col-md-8" v-else>
                                                <div id="preview" style="padding-top:10px;" v-if="form.thumbnail">
                                                    <img :src="url"  style="max-width: 150px;"/>
                                                    <button type="button" class="btn btn-danger btn-xs" @click="deleteImg(form.thumbnail)"><i class="fa fa-trash-alt"></i></button>
                                                </div>

                                                <div v-else>
                                                    <input type="file" id="thumb_image" name="thumb_image" ref="imageUrl" v-on:change="onImageChange" :class="{ 'is-invalid': form.errors.has('thumb_image') }"/>
                                                    <has-error :form="form" field="thumb_image"></has-error>
                                                </div>
                                                <br/>

                                                <div class="alert alert-danger alert-dismissable" v-if="errorMessage !== ''">
                                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                                    {{errorMessage}}
                                                </div>

                                                <div
                                                    class="progress-bar progress-bar-info progress-bar-striped"
                                                    role="progressbar"
                                                    :aria-valuenow="uploadPercentage"
                                                    aria-valuemin="0"
                                                    aria-valuemax="100"
                                                    v-show="progress"
                                                    :style="{ width: uploadPercentage + '%' }">
                                                    {{ uploadPercentage }}%
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="" class="col-sm-4 col-form-label">{{$t('state')}}</label>
                                            <div class="col-sm-8 custom-control custom-switch" style="padding-left: 50px;">
                                                <input type="checkbox" class="custom-control-input" id="customSwitch1" v-model="form.is_active">
                                                <label class="custom-control-label" for="customSwitch1">isActive?</label>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer text-right">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i> {{$t('cancel')}}</button>
                                        <button v-show="editmode" type="submit" class="btn btn-success"><i class="fas fa-edit"></i> {{$t('update')}}</button>
                                        <button v-show="!editmode" type="submit" class="btn btn-primary"><i class="fas fa-save"></i> {{$t('save')}}</button>
                                    </div>
                                    <!-- /.card-footer -->
                                </form>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
    </div>
</template>

<script>
    import VueAdsPagination, { VueAdsPageButton } from 'vue-ads-pagination';
    import Swal from 'sweetalert2/dist/sweetalert2.js';
    import axios from "axios";

    export default {
        components: {
            VueAdsPagination,
            VueAdsPageButton,
        },
        data() {
            return {
                url: null,
                thumbnailsPart : 'images/thumbnails/',
                originalPart : 'images/contents/Original/',
                uploadPercentage: 0,
                errorMessage : '',
                progress : false,

                //Pagination return
                total:0,
                per_page:10,
                loading: false,
                page: 0,
                numbering: '',

                selected: [],
                action: false,

                //this.$currentUser['branch_id'] get from resources/js/app.js
                current_branch_id : this.$currentUser['branch_id'],
                branch: [],
                CategoryParent: {},
                editmode : false,
                data : {},
                form: new Form({
                    id:'',
                    branches: [],
                    parent_id: 0,
                    name: '',
                    description: '',
                    thumbnail:'',
                    is_active: true
                }),
            }
        },
        computed: {
            selectAll: {
                get: function () {
                    return this.data ? this.selected.length == this.data.length : false;
                },
                set: function (value) {
                    var selected = [];
                    if (value) {
                        this.data.forEach(function (value) {
                            selected.push(value.id);
                        });
                    }
                    this.selected = selected;
                    this.checked();
                }
            }
        },
        methods: {
            checked(){
                if (this.selected.length > 0){
                    this.action = true;
                }else{
                    this.action = false;
                }
            },
            onImageChange(e){
                this.progress = true;
                const file = e.target.files[0];
                this.url = URL.createObjectURL(file);

                const config = {
                    headers: { 'content-type': 'multipart/form-data' }
                };

                let formData = new FormData();
                formData.append('image', file);
                formData.append('thumbnailsPart', this.thumbnailsPart);
                formData.append('originalPart', this.originalPart);
                formData.append('validate', 'required|image|mimes:jpeg,png,jpg,gif,svg|max:100000');

                axios.post('/api/resizeImagePost',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        },
                        onUploadProgress: function( progressEvent ) {
                            this.uploadPercentage = parseInt( Math.round( ( progressEvent.loaded / progressEvent.total ) * 100 ));
                        }.bind(this)
                    }
                )
                    .then(function (response) {
                        this.form.thumbnail = response.data.data.name;
                        this.errorMessage = '';
                    }.bind(this))
                    .catch((error) => {
                        this.uploadPercentage = 0;
                        this.errorMessage = error.message;
                        this.$toast.error({
                            title:'Upload Sound',
                            message: error.message,
                        });
                        this.$loading(false)
                    })
            },
            deleteImg(img){
                this.progress = false;
                let formData = new FormData();
                formData.append('image', img);
                formData.append('thumbnailsPart', this.thumbnailsPart);
                formData.append('originalPart', this.originalPart);

                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/api/deleteImg', formData).then((response)=>{
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            );
                            this.form.thumbnail = null;
                            this.uploadPercentage = 0;
                        }).catch(()=> {
                            Swal.fire("Failed!", "There was something wronge.", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                })
            },
            onChange(event) {
                this.$loading(true);
                this.per_page = parseInt(event.target.value);
                axios.get('/api/getCategoryByBranch/'+this.current_branch_id+'?paginate='+this.per_page)
                    .then(response => {
                        this.total = response.data.meta.total;
                        this. page = 0;
                        this.data = response.data.data;
                        this.$loading(false);
                    });
            },
            rangeChange (start, end) {
                if (this.numbering !== start) {
                    this.$loading(true);
                    this.numbering = start;
                    var page = end / this.per_page;
                    if ((start + this.per_page) > this.total) {
                        page = page + 1;
                    }
                    axios.get('/api/getCategoryByBranch/'+this.current_branch_id+'?page=' + parseInt(page) + '&paginate=' + parseInt(this.per_page))
                        .then(response => {
                            this.data = response.data.data;
                            this.total = response.data.meta.total;
                            this.$loading(false);
                        });
                }
            },
            load_data() {
                axios.get('/api/getCategoryByBranch/'+this.current_branch_id)
                    .then(response => {
                        this.data = response.data.data;
                        this.total = response.data.meta.total;
                    });
            },
            AddNew(){
                this.editmode = false;
                this.form.reset();
                $('#addNew').modal('show');
            },
            save_data() {
                this.form.post('/api/categories')
                    .then((response) => {
                        this.form.reset();
                        this.$toast.success({
                            title:'Create User Security',
                            message:'User security have been created successful!'
                        });
                        this.progress = false;
                        this.load_Parent();
                        this.load_data();
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'Create User Security',
                            message: error.message
                        });
                    })
            },
            update_data(){
                this.form.put('/api/categories/' + this.form.id)
                    .then((response) => {
                        this.$toast.success({
                            title:'Update Data',
                            message:'User have been updated successful!'
                        });
                        this.progress = false;
                        this.reset_data();
                        this.load_data();
                        this.load_Parent();
                        $('#addNew').modal('hide');
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'Update Data',
                            message: error.message
                        });
                    })
            },
            show_data(id){
                this.$loading(true);
                axios.get('/api/categories/' + id)
                    .then(response => {
                        this.editmode = true;
                        this.form.fill(response.data.data);
                        $('#addNew').modal('show');
                        this.$loading(false);
                    });
            },
            delete_data(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.form.delete('/api/categories/'+id).then(()=>{
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            );
                            Fire.$emit('AfterCreate');
                        }).catch(()=> {
                            Swal.fire("Failed!", "There was something wronge.", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                });
            },
            reset_data(){
                this.form.reset();
                this.editmode = false;
            },
            isActive(state){
                let data = {
                    is_active: state,
                };
                axios.put('/api/categories/isActive/'+this.selected,data)
                    .then((response) => {
                        this.selected.length = 0;
                        this.load_data();
                    });
            },
            load_Parent(){
                axios.get('/api/categories-get-all-parent')
                    .then(response => {
                        this.CategoryParent = response.data.data;
                    });
            },
            load_branch(){
                axios.get('/api/branch?paginate=50')
                    .then(response => {
                        this.branch = response.data.data;
                    });
            }
        },
        created() {
            this.load_branch();
            this.load_Parent();
            Fire.$on('AfterCreate',() => {
                this.load_data();
                this.load_Parent();
            });
        }
    }
</script>
