<template>
    <div>
        <section class="content-header" style="border-bottom: 1px solid rgb(222 226 230); background-color: rgb(255 255 255); padding-top: 8px; padding-bottom: 5px;">
            <div class="container-fluid">
                <div class="row mb-2" style="padding-top: 10px;">
                    <div class="col-sm-6" style="padding-left: 5px;">
                        <h1 class="breadcrumbs-title">{{ $t('village_list') }}</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="row-list">
                    <!-- left column -->
                    <div class="col-md-121" style="width: 100%">

                        <div class="row">
                            <div style="width: 100%">
                                <div class="card-list card-outline">
                                    <div style="display: flex; flex-wrap: wrap; padding-top: 7px; padding-bottom: 7px;">

                                        <div class="col-sm-6">

                                            <button type="button" class="btn btn-primary" @click="AddNew"><i class="fas fa-edit"></i> {{$t('add_new')}}</button>

                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                {{$t('action')}}
                                            </button>
                                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);" v-show="action">
                                                <a class="dropdown-item" href="#" @click.prevent="delete_data(selected)"><i class="fa fa-trash red" style="margin-right: 10px"></i> {{$t('delete')}}</a>
                                                <a class="dropdown-item" href="#" @click.prevent="isActive(true)"><i class="fas fa-eye blue" style="margin-right: 10px"></i>{{$t('publish')}}</a>
                                                <a class="dropdown-item" href="#" @click.prevent="isActive(false)"><i class="fas fa-eye-slash red" style="margin-right: 10px"></i>{{$t('unpublish')}}</a>
                                            </div>

                                        </div>

                                        <div class="col-sm-6">
                                            <div class="input-group input-group-sm" style="width: 500px; float: right; top: 0">
                                                <i class="fa fa-filter filter" style="margin-top: 4px; color: #a3a4a6;"></i>
                                                <span class="filter">{{$t('filter')}}</span>
                                                <select class="form-control cus-select" @change="load_district_by_city($event.target.value)" id="l_city">
                                                    <option value="0" selected>{{$t('city_name')}}</option>
                                                    <option v-for="c in city" :value="c.id">
                                                       <p v-if="$parent.lang === 'en'"> {{c.title_en}} </p>
                                                       <p v-if="$parent.lang === 'kh'"> {{c.title_kh}} </p>
                                                    </option>
                                                </select>
                                                <select class="form-control cus-select" @change="load_commune_by_district($event.target.value)" id="l_city">
                                                    <option value="0" selected>{{$t('district_name')}}</option>
                                                    <option v-for="d in district" :value="d.id">
                                                       <p v-if="$parent.lang === 'en'"> {{d.title_en}} </p>
                                                       <p v-if="$parent.lang === 'kh'"> {{d.title_kh}} </p>
                                                    </option>
                                                </select>
                                                <select class="form-control cus-select" @change="load_village_by_commune($event)" id="l_city">
                                                    <option value="0" selected>{{$t('commune_name')}}</option>
                                                    <option v-for="c in commune" :value="c.id">
                                                       <p v-if="$parent.lang === 'en'"> {{c.title_en}} </p>
                                                       <p v-if="$parent.lang === 'kh'"> {{c.title_kh}} </p>
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

 

                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body table-responsive p-0 table-height" :style="'height : '+ (windowHeight-205) +'px; position: relative;'">

                                        <table class="table table-hover text-nowrap table-head-fixed">
                                            <thead>
                                            <tr>
                                                <th style="width: 60px; text-align: center;">
                                                    <div class="icheck-primary">
                                                        <input type="checkbox" v-model="selectAll" id="checkAll">
                                                        <label for="checkAll"></label>
                                                    </div>
                                                </th>
                                                <th style="width: 40px;">{{$t('no')}}</th>
                                                <th style="width: 120px;">{{$t('post_code')}}</th>
                                                <th>{{$t('title_kh')}}</th>
                                                <th>{{$t('title_en')}}</th>
                                                <th>{{$t('commune_name')}}</th>
                                                <th>{{$t('district_name')}}</th>
                                                <th>{{$t('city_name')}}</th>
                                                <th style="width: 50px;">{{$t('state')}}</th>
                                                <th style="width: 120px;" class="align-right">{{$t('action')}}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="(d,index) in data" :key="d.id">
                                                <td>
                                                    <div class="icheck-primary">
                                                        <input type="checkbox" :id="'all_'+d.id" :value="d.id" v-model="selected" @change="checked">
                                                        <label :for="'all_'+d.id"></label>
                                                    </div>
                                                </td>
                                                <td>{{numbering+index+1}}</td>
                                                <td>
                                                    <a href="#" @click.prevent="show_data(d.id)">{{d.post_code}}</a>
                                                </td>
                                                <td>{{d.title_kh}}</td>
                                                <td>{{d.title_en}}</td>
                                                <td>{{d.commune_name}}</td>
                                                <td>{{d.district_name}}</td>
                                                <td>{{d.city_name}}</td>
                                                <td v-if="d.is_active == 0" class="align-center"> <span class="badge bg-danger"><i class="fas fa-eye-slash"></i></span> </td>
                                                <td v-else class="align-center"><span class="badge bg-primary"><i class="fas fa-eye"></i></span></td>
                                                <td>
                                               
                                                <div class="btn-group" style="margin-left: 10px;">
                                                    <button type="button" class="btn btn-default btn-xs">{{$t('action')}}</button>
                                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                                    </button>
                                                    <div class="dropdown-menu" role="menu" style="">
                                                        <a class="dropdown-item" href="#" @click.prevent="show_data(d.id)"><i class="fa fa-edit" style="margin-right: 10px"></i> {{$t('edit')}}</a>
                                                        <a class="dropdown-item" href="#" @click.prevent="delete_data(d.id)"><i class="fa fa-trash red" style="margin-right: 10px"></i> {{$t('delete')}}</a>
                                                        <a class="dropdown-item" href="#" @click.prevent="isActive_by_id(d.id, true)"><i class="fas fa-eye blue" style="margin-right: 10px"></i>{{$t('publish')}}</a>
                                                        <a class="dropdown-item" href="#" @click.prevent="isActive_by_id(d.id, false)"><i class="fas fa-eye-slash red" style="margin-right: 10px"></i>{{$t('unpublish')}}</a>
                                                    </div>
                                                </div>
                                                
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>

        
                                        <div class="col-sm-12" style="border-top: 1px solid #dee2e6; color: #6c757d;">
                                            <!--start pagination-->
                                            <vue-ads-pagination :total-items="total" :max-visible-pages="3" :items-per-page="per_page" :page="page" :loading="loading" @range-change="rangeChange">
                                                <template slot-scope="props">
                                                    <div class="vue-ads-pr-2 vue-ads-leading-loose">
                                                        {{$t('p_row')}} :
                                                        <select id="displayRows" @change="onChange($event)">
                                                            <option value="10">10</option>
                                                            <option value="20">20</option>
                                                            <option value="30">30</option>
                                                            <option value="50">50</option>
                                                            <option value="100">100</option>
                                                        </select>
                                                    </div>
                                                    <div class="vue-ads-pr-2 vue-ads-leading-loose">
                                                        {{ props.start }} - {{ props.end }} {{$t('p_of')}} {{ props.total }}
                                                    </div>
                                                </template>
                                                <template slot="buttons" slot-scope="props">
                                                    <vue-ads-page-button v-for="(button, key) in props.buttons" :key="key" v-bind="button" @page-change="page = button.page"/>
                                                </template>
                                            </vue-ads-pagination>
                                            <!--start pagination-->
                                        </div>

                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>

                    </div>


                    <!-- Modal -->
                    <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" v-show="!editmode" id="addNewLabel">{{$t('village_setting')}}</h5>
                                    <h5 class="modal-title" v-show="editmode" id="addNewLabel">{{$t('village_setting')}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <form class="form-horizontal" @submit.prevent="editmode ? update_data() : save_data()">
                                    <div class="card-body">

                                        <div class="form-group row">
                                            <label for="inputPassword3" class="col-sm-4 col-form-label">{{$t('city_name')}}</label>
                                            <div class="col-sm-8">
                                                <select v-model="form.city_id" class="form-control" @change="load_district_by_city($event.target.value)">
                                                    <option value="0">{{$t('select')}}</option>
                                                    <option v-for="c in city" :value="c.id">{{c.title_en}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputPassword3" class="col-sm-4 col-form-label">{{$t('district_name')}}</label>
                                            <div class="col-sm-8">
                                                <select v-model="form.district_id" class="form-control" @change="load_commune_by_district($event.target.value)">
                                                    <option value="0">{{$t('select')}}</option>
                                                    <option v-for="c in district" :value="c.id">{{c.title_en}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputPassword3" class="col-sm-4 col-form-label">{{$t('commune_name')}}</label>
                                            <div class="col-sm-8">
                                                <select v-model="form.commune_id" class="form-control">
                                                    <option value="0">{{$t('select')}}</option>
                                                    <option v-for="c in commune" :value="c.id">{{c.title_en}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputPassword3" class="col-sm-4 col-form-label">{{$t('post_code')}}</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="inputPassword3" placeholder="" v-model="form.post_code">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputPassword4" class="col-sm-4 col-form-label">{{$t('title_kh')}}</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="inputPassword4" placeholder="" v-model="form.title_kh">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputPassword5" class="col-sm-4 col-form-label">{{$t('title_en')}}</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="inputPassword5" placeholder="" v-model="form.title_en">
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <label for="inputPassword6" class="col-sm-4 col-form-label">{{$t('state')}}</label>
                                            <div class="col-sm-8 custom-control custom-switch" style="padding-left: 50px;">
                                                <input type="checkbox" class="custom-control-input" id="customSwitch1" v-model="form.is_active">
                                                <label class="custom-control-label" for="customSwitch1">isActive?</label>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer text-right">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i> {{$t('cancel')}}</button>
                                        <button v-show="editmode" type="submit" class="btn btn-success"><i class="fas fa-edit"></i> {{$t('update')}}</button>
                                        <button v-show="!editmode" type="submit" class="btn btn-primary"><i class="fas fa-save"></i> {{$t('save')}}</button>
                                    </div>
                                    <!-- /.card-footer -->
                                </form>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>

    </div>
</template>

<script>
    import VueAdsPagination, { VueAdsPageButton } from 'vue-ads-pagination';
    import Swal from 'sweetalert2/dist/sweetalert2.js';
    import axios from "axios";

    export default {
        components: {
            VueAdsPagination,
            VueAdsPageButton,
        },
        data() {
            return {
                //Pagination return
                total:0,
                per_page:10,
                loading: false,
                page: 0,
                numbering: 0,
                selected: [],
                action: false,
                editmode : false,
                data : {},
                district: {},
                commune: {},
                city: {},
                load_commune_id: '0',
                form: new Form({
                    id:'',
                    city_id:'',
                    commune_id:'',
                    district_id: '',
                    post_code: '',
                    title_kh: '',
                    title_en: '',
                    is_active: '',
                }),
            }
        },
        computed: {
            selectAll: {
                get: function () {
                    return this.data ? this.selected.length == this.data.length : false;
                },
                set: function (value) {
                    var selected = [];
                    if (value) {
                        this.data.forEach(function (value) {
                            selected.push(value.id);
                        });
                    }
                    this.selected = selected;
                    this.checked();
                }
            }
        },
        methods: {
            checked(){
                if (this.selected.length > 0){
                    this.action = true;
                }else{
                    this.action = false;
                }
            },
            onChange(event) {
                this.$loading(true);
                this.per_page = parseInt(event.target.value);
                var url = "/api/village";
                if (this.load_commune_id > 0){
                    url = "/api/getVillageByCommune/"+this.load_commune_id;
                }
                axios.get(url+'?paginate='+this.per_page)
                    .then(response => {
                        this.total = response.data.meta.total;
                        this. page = 0;
                        this.data = response.data.data;
                        this.$loading(false);
                    });
            },
            rangeChange (start, end) {
                if (this.numbering !== start){
                    this.$loading(true);
                    this.numbering = start;
                    var page = end / this.per_page;
                    if ((start+this.per_page)>this.total){
                        page = page+1;
                    }
                    var url = "/api/village";
                    if (this.load_commune_id > 0){
                        url = "/api/getVillageByCommune/"+this.load_commune_id;
                    }
                    axios.get(url+'?page=' + parseInt(page)+'&paginate='+parseInt(this.per_page))
                        .then(response => {
                            this.data = response.data.data;
                            this.total = response.data.meta.total;
                            this.$loading(false);
                        });
                }
            },
            load_data() {
                this.$loading(true);
                axios.get('/api/village')
                    .then(response => {
                        this.data = response.data.data;
                        this.total = response.data.meta.total;
                        this.per_page = response.data.meta.per_page;
                        this.$loading(false);
                    });
            },
            AddNew(){
                this.editmode = false;
                this.form.reset();
                $('#addNew').modal('show');
            },
            save_data() {
                this.form.post('/api/village')
                    .then((response) => {
                        this.form.reset();
                        this.$toast.success({
                            title:'Create Village',
                            message:'District have been created successful!'
                        });
                        this.load_data();
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'Create Village',
                            message: error.message
                        });
                    })
            },
            update_data(){
                this.form.put('/api/village/' + this.form.id)
                    .then((response) => {
                        this.form.reset();
                        $('#addNew').modal('hide');
                        this.$toast.success({
                            title:'Update Village',
                            message:'District have been updated successful!'
                        });
                        this.load_data();
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'Update Data',
                            message: error.message
                        });
                    })
            },
            show_data(id){
                this.$loading(true);
                axios.get('/api/village/' + id)
                    .then(response => {
                        this.editmode = true;
                        this.load_district_by_city(response.data.data.city_id);
                        this.load_commune_by_district(response.data.data.district_id);
                        this.form.fill(response.data.data);
                        $('#addNew').modal('show');
                        this.$loading(false);
                    });
            },
            delete_data(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.form.delete('/api/village/'+id).then(()=>{
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            );
                            Fire.$emit('AfterCreate');
                        }).catch(()=> {
                            Swal.fire("Failed!", "There was something wronge.", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                });
            },
            reset_data(){
                this.form.reset();
                this.editmode = false;
            },
            load_City() {
                axios.get('/api/city-get-all')
                    .then(response => {
                        this.city = response.data.data;
                    });
            },
            load_district_by_city(id) {
                this.$loading(true);
                axios.get('/api/getDistrictByCity/'+id+'?&paginate=1000')
                    .then(response => {
                        this.district = response.data.data;
                        this.$loading(false);
                    });
            },
            load_commune_by_district(id) {
                this.$loading(true);
                axios.get('/api/getCommuneByDistrict/'+id)
                    .then(response => {
                        this.commune = response.data.data;
                        this.$loading(false);
                    });
            },
            load_village_by_commune(event){
                this.$loading(true);
                axios.get('/api/getVillageByCommune/'+event.target.value)
                    .then(response => {
                        this.load_commune_id = event.target.value;
                        this.data = response.data.data;
                        this.total = response.data.meta.total;
                        this.$loading(false);
                    });
            },
            isActive(state){
                let data = {
                    is_active: state,
                };
                axios.put('/api/village/isActive/'+this.selected,data)
                    .then((response) => {
                        this.selected.length = 0;
                        this.load_data();
                    });
            },
            isActive_by_id(id, state){
                let data = {
                    is_active: state,
                };
                axios.put('/api/village/isActive/'+id,data)
                    .then((response) => {
                        this.selected.length = 0;
                        this.load_data();
                    });
            }
        },
        created() {
            this.load_data();
            this.load_City();
            Fire.$on('AfterCreate',() => {
                this.load_data();
            });
        }
    }
</script>
