<template>
    <div class="register-box">
        <div class="login-logo">
            <img src="/img/logo.png" style="width: 150px;"><br/>
            <div style="font-size: 18px; text-align: center; text-transform: uppercase; padding-bottom: 10px;"><b>Cam</b>-Market</div>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg" style="font-size: 18px;">Sign in to start your session</p>

                <div class="alert alert-success alert-dismissible" style="margin-top: 0px;" v-show="login_message">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <div><i class="icon fas fa-check"></i> Successfully. Redirecting...</div>
                </div>

                <div class="alert alert-danger alert-dismissible" style="margin-top: 0px;" v-show="login_error_message">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <div><i class="fas fa-exclamation-triangle"></i> Incorrect Email Or Password...</div>
                </div>

                <form @submit.prevent="login(user)">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" v-model="user.email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password" v-model="user.password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <div class="social-auth-links text-center mb-3">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                    </a>
                </div>
                <!-- /.social-auth-links -->

                <p class="mb-1">
                    <a href="forgot-password.html">I forgot my password</a>
                </p>
                <p class="mb-0">
                    <a href="/register" class="text-center">Register a new membership</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
</template>

<!--<script>-->
<!--    import axios from "axios";-->

<!--    export default {-->
<!--        name: 'app',-->
<!--        data() {-->
<!--            return {-->
<!--                form: new Form({-->
<!--                    username: '',-->
<!--                    password: ''-->
<!--                }),-->
<!--            }-->
<!--        },-->
<!--        methods: {-->
<!--            login() {-->
<!--                this.$loading(true);-->
<!--                this.form.post('/api/authenticate')-->
<!--                    .then((response) => {-->
<!--                        this.$loading(false);-->
<!--                        this.$toast.success({-->
<!--                            title:'Create Content',-->
<!--                            message:'Create Content Successfully.'-->
<!--                        });-->
<!--                        context.commit('updateTokens', response);-->
<!--                        axios.defaults.headers.common['Authorization'] = `Bearer ${response.access_token}`;-->
<!--                        this.$router.push('/home')-->
<!--                    })-->
<!--                    .catch((error) => {-->
<!--                        this.$toast.error({-->
<!--                            title:'Create Content',-->
<!--                            message: error.message-->
<!--                        });-->
<!--                        this.$loading(false)-->
<!--                    })-->
<!--            }-->
<!--        },-->
<!--        created() {-->

<!--        }-->
<!--    }-->
<!--</script>-->

<script>
    export default {
        data() {
            return {
                login_message : false,
                login_error_message: false,
                user: {
                    email: null,
                    password: null,
                },
            }
        },
        methods: {
            login(user) {
                this.$loading(true);
                Store.dispatch('login', user)
                    .then(response => {
                        this.login_error_message = false;
                        this.login_message = true;
                        this.$loading(false);
                        Store.dispatch('getCurrentUser')
                            .then(resp => {
                                window.location.href = '/admin/dashboard';
                            })
                    })
                    .catch(error => {
                        this.login_error_message = true;
                        this.$loading(false);
                    })
            }
        },
    }
</script>
