<template>
    <div class="register-box">
        <div class="register-logo">
            <img src="/img/logo.png" alt="" style="width: 150px;">
        </div>
        <div style="font-size: 18px; text-align: center; text-transform: uppercase; padding-bottom: 10px;"><b>Cam</b>-Market</div>
        <div class="card">
            <div class="card-body register-card-body">

                <div style="font-size: 18px; text-align: center; padding-bottom: 10px;">Register Form</div>

                <form method="POST" @submit.prevent="save_data()">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="name" placeholder="Company Name" v-model="form.name">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" name="email" placeholder="Email" v-model="form.email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="password" placeholder="Password" v-model="form.password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="password_confirmation" placeholder="Retype password" v-model="form.password_confirmation">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                                <label for="agreeTerms">
                                    I agree to the <a href="#">terms</a>
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <div class="social-auth-links text-center">
                    <p>- OR -</p>
                    <a href="/auth/facebook" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i>
                        Sign up using Facebook
                    </a>
                    <a href="/auth/google" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i>
                        Sign up using Google+
                    </a>
                </div>

                <a href="/" class="text-center">I already have a membership</a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
</template>

<!--<script>-->
<!--    import axios from "axios";-->

<!--    export default {-->
<!--        name: 'app',-->
<!--        data() {-->
<!--            return {-->
<!--                form: new Form({-->
<!--                    username: '',-->
<!--                    password: ''-->
<!--                }),-->
<!--            }-->
<!--        },-->
<!--        methods: {-->
<!--            login() {-->
<!--                this.$loading(true);-->
<!--                this.form.post('/api/authenticate')-->
<!--                    .then((response) => {-->
<!--                        this.$loading(false);-->
<!--                        this.$toast.success({-->
<!--                            title:'Create Content',-->
<!--                            message:'Create Content Successfully.'-->
<!--                        });-->
<!--                        context.commit('updateTokens', response);-->
<!--                        axios.defaults.headers.common['Authorization'] = `Bearer ${response.access_token}`;-->
<!--                        this.$router.push('/home')-->
<!--                    })-->
<!--                    .catch((error) => {-->
<!--                        this.$toast.error({-->
<!--                            title:'Create Content',-->
<!--                            message: error.message-->
<!--                        });-->
<!--                        this.$loading(false)-->
<!--                    })-->
<!--            }-->
<!--        },-->
<!--        created() {-->

<!--        }-->
<!--    }-->
<!--</script>-->

<script>
    export default {
        data() {
            return {
                form: new Form({
                    id:'',
                    name: '',
                    email: '',
                    password: '',
                    password_confirmation: '',
                    status: true,
                    is_active: true,
                    expired_date: null,
                    user_role: [
                        {
                            id: 1
                        }
                    ],
                }),
            }
        },
        methods: {
            save_data() {
                this.form.post('/api/userRegister')
                    .then((response) => {
                        this.form.reset();
                        this.$toast.success({
                            title:'Create User Security',
                            message:'User have been created successful!'
                        });
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'Create User',
                            message: error.message
                        });
                    })
            },
        },
    }
</script>
