<template>
    <div>
        <section class="content-header" style="border-bottom: 1px solid rgb(222 226 230); background-color: rgb(255 255 255);">
            <div class="container-fluid">
                <div class="row mb-2" style="padding-top: 10px;">
                    <div class="col-sm-6" style="padding-left: 5px;">
                        <h1 class="breadcrumbs-title">{{ $t('exchange_rate_list') }}</h1>
                    </div>
                    <div class="col-sm-6">

                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="row-list">
                    <!-- left column -->
                    <div class="col-md-121" style="width: 100%">

                        <div class="row">
                            <div style="width: 100%">
                                <div class="card-list card-outline">
                                    <div style="display: flex; flex-wrap: wrap; padding-top: 7px; padding-bottom: 3px;">

                                        <div class="col-sm-6">

                                            <button type="button" class="btn btn-primary" @click="AddNew"><i class="fas fa-edit"></i> {{$t('add_new')}}</button>

                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                {{$t('action')}}
                                            </button>
                                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);" v-show="action">
                                                <a class="dropdown-item" href="#" @click.prevent="delete_data(selected)"><i class="fa fa-trash red" style="margin-right: 10px"></i> {{$t('delete')}}</a>
                                                <a class="dropdown-item" href="#" @click.prevent="isActive(true)"><i class="fas fa-eye blue" style="margin-right: 10px"></i>{{$t('publish')}}</a>
                                                <a class="dropdown-item" href="#" @click.prevent="isActive(false)"><i class="fas fa-eye-slash red" style="margin-right: 10px"></i>{{$t('unpublish')}}</a>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <!--start pagination-->
                                            <vue-ads-pagination :total-items="total" :max-visible-pages="3" :items-per-page="per_page" :page="page" :loading="loading" @range-change="rangeChange">
                                                <template slot-scope="props">
                                                    <div class="vue-ads-pr-2 vue-ads-leading-loose">
                                                        {{$t('p_row')}} :
                                                        <select id="displayRows" @change="onChange($event)">
                                                            <option value="10">10</option>
                                                            <option value="20">20</option>
                                                            <option value="30">30</option>
                                                            <option value="50">50</option>
                                                            <option value="100">100</option>
                                                        </select>
                                                    </div>
                                                    <div class="vue-ads-pr-2 vue-ads-leading-loose">
                                                        {{ props.start }} - {{ props.end }} {{$t('p_of')}} {{ props.total }}
                                                    </div>
                                                </template>
                                                <template slot="buttons" slot-scope="props">
                                                    <vue-ads-page-button v-for="(button, key) in props.buttons" :key="key" v-bind="button" @page-change="page = button.page"/>
                                                </template>
                                            </vue-ads-pagination>
                                            <!--start pagination-->
                                        </div>

                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body table-responsive p-0 table-height" :style="'height : '+ (windowHeight-215) +'px; position: relative;'">

                                        <table class="table table-hover text-nowrap table-head-fixed">
                                            <thead>
                                            <tr>
                                                <th style="width: 60px; text-align: center;">
                                                    <div class="icheck-primary">
                                                        <input type="checkbox" v-model="selectAll" id="checkAll">
                                                        <label for="checkAll"></label>
                                                    </div>
                                                </th>
                                                <th style="width: 60px;">{{$t('no')}}</th>
                                                <th>{{$t('from_currency')}} <i class="fa fa-long-arrow-alt-right orange"></i> {{$t('to_currency')}}</th>
                                                <th>{{$t('exchange_rate_name')}}</th>
                                                <th>{{$t('branch_name')}}</th>
                                                <th style="width: 50px;">{{$t('state')}}</th>
                                                <th style="width: 120px;" class="align-right">{{$t('action')}}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="(value,index) in data" :key="value.id">
                                                <td>
                                                    <div class="icheck-primary">
                                                        <input type="checkbox" :id="'all_'+value.id" :value="value.id" v-model="selected" @change="checked">
                                                        <label :for="'all_'+value.id"></label>
                                                    </div>
                                                </td>
                                                <td>{{numbering+index+1}}</td>
                                                <td><a href="#" @click.prevent="show_data(value.id)">{{value.from_currency_name}} <i class="fa fa-long-arrow-alt-right orange"></i> {{value.to_currency_name}}</a></td>
                                                <td>1{{value.from_currency_symbol}} = {{value.exchange_rate}} {{value.to_currency_symbol}}</td>
                                                <td>
                                                    <span v-for="b in value.branches" class="sub-info indigo">{{b.branch_name}}</span>
                                                </td>

                                                <td v-if="value.is_active == 0" class="align-center"> <span class="badge bg-danger"><i class="fas fa-eye-slash"></i></span> </td>
                                                <td v-else class="align-center"><span class="badge bg-primary"><i class="fas fa-eye"></i></span></td>
                                                <td>
                                                    <div class="btn-group" style="margin-left: 10px;">
                                                        <button type="button" class="btn btn-default btn-xs">{{$t('action')}}</button>
                                                        <button type="button" class="btn btn-default btn-xs dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                                        </button>
                                                        <div class="dropdown-menu" role="menu" style="">
                                                            <a class="dropdown-item" href="#" @click.prevent="show_data(value.id)"><i class="fa fa-edit" style="margin-right: 10px"></i> {{$t('edit')}}</a>
                                                            <a class="dropdown-item" href="#" @click.prevent="delete_data(value.id)"><i class="fa fa-trash red" style="margin-right: 10px"></i> {{$t('delete')}}</a>
                                                            <a class="dropdown-item" href="#" @click.prevent="isActive_by_id(value.id, true)"><i class="fas fa-eye blue" style="margin-right: 10px"></i>{{$t('publish')}}</a>
                                                            <a class="dropdown-item" href="#" @click.prevent="isActive_by_id(value.id, false)"><i class="fas fa-eye-slash red" style="margin-right: 10px"></i>{{$t('unpublish')}}</a>
                                                        </div>
                                                    </div>            
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>

                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>

                    </div>


                    <!-- Modal -->
                    <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" v-show="!editmode">{{$t('exchange_rate_setting')}}</h5>
                                    <h5 class="modal-title" v-show="editmode">{{$t('exchange_rate_setting')}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form class="form-horizontal" @submit.prevent="editmode ? update_data() : save_data()">
                                    <div class="card-body">

                                        <div class="form-group row">
                                            <label for="" class="col-sm-4 col-form-label">{{$t('branch_name')}}<span class="required">*</span></label>
                                            <div class="col-sm-8">
                                                <v-select multiple v-model="form.branches" required :options="branch" label="branch_name" value="id"/>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="" class="col-sm-4 col-form-label">{{$t('from_currency')}}<span class="required">*</span></label>
                                            <div class="col-sm-8">
                                                <select class="form-control" v-model="form.from_currency_id" required>
                                                    <option selected value="0">{{$t('select')}}</option>
                                                    <option v-for="value in currency" :value="value.id">{{value.name}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="" class="col-sm-4 col-form-label">{{$t('to_currency')}}<span class="required">*</span></label>
                                            <div class="col-sm-8">
                                                <select class="form-control" v-model="form.to_currency_id" required>
                                                    <option>{{$t('select')}}</option>
                                                    <option v-for="value in currency" :value="value.id">{{value.name}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="" class="col-sm-4 col-form-label">{{$t('exchange_rate_name')}}<span class="required">*</span></label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control"  v-model="form.exchange_rate" required @keypress="onlyNumber">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="" class="col-sm-4 col-form-label">{{$t('desc')}}</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" v-model="form.description">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="" class="col-sm-4 col-form-label">{{$t('state')}}</label>
                                            <div class="col-sm-8 custom-control custom-switch" style="padding-left: 50px;">
                                                <input type="checkbox" class="custom-control-input" id="customSwitch1" v-model="form.is_active">
                                                <label class="custom-control-label" for="customSwitch1">isActive?</label>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer text-right">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i> {{$t('cancel')}}</button>
                                        <button v-show="editmode" type="submit" class="btn btn-success"><i class="fas fa-edit"></i> {{$t('update')}}</button>
                                        <button v-show="!editmode" type="submit" class="btn btn-primary"><i class="fas fa-save"></i> {{$t('save')}}</button>
                                    </div>
                                    <!-- /.card-footer -->
                                </form>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
    </div>
</template>

<script>
    import VueAdsPagination, { VueAdsPageButton } from 'vue-ads-pagination';
    import Swal from 'sweetalert2/dist/sweetalert2.js';
    import axios from "axios";

    export default {
        components: {
            VueAdsPagination,
            VueAdsPageButton,
        },
        data() {
            return {
                //Pagination return
                total:0,
                per_page:10,
                loading: false,
                page: 0,
                numbering: '',

                selected: [],
                action: false,

                //this.$currentUser['branch_id'] get from resources/js/app.js
                current_branch_id : this.$currentUser['branch_id'],
                branch: [],
                currency: {},
                editmode : false,
                data : {},
                form: new Form({
                    id:'',
                    branches: [],
                    from_currency_id: '',
                    to_currency_id: '',
                    exchange_rate: '',
                    description:'',
                    is_active: true
                }),
            }
        },
        computed: {
            selectAll: {
                get: function () {
                    return this.data ? this.selected.length == this.data.length : false;
                },
                set: function (value) {
                    var selected = [];
                    if (value) {
                        this.data.forEach(function (value) {
                            selected.push(value.id);
                        });
                    }
                    this.selected = selected;
                    this.checked();
                }
            }
        },
        methods: {
            checked(){
                if (this.selected.length > 0){
                    this.action = true;
                }else{
                    this.action = false;
                }
            },
            onChange(event) {
                this.$loading(true);
                this.per_page = parseInt(event.target.value);
                axios.get('/api/exChangRateByBranchId/'+this.current_branch_id+'?paginate='+this.per_page)
                    .then(response => {
                        this.total = response.data.meta.total;
                        this. page = 0;
                        this.data = response.data.data;
                        this.$loading(false);
                    });
            },
            rangeChange (start, end) {
                if (this.numbering !== start) {
                    this.$loading(true);
                    this.numbering = start;
                    var page = end / this.per_page;
                    if ((start + this.per_page) > this.total) {
                        page = page + 1;
                    }
                    axios.get('/api/exChangRateByBranchId/'+this.current_branch_id+'?page=' + parseInt(page) + '&paginate=' + parseInt(this.per_page))
                        .then(response => {
                            this.data = response.data.data;
                            this.total = response.data.meta.total;
                            this.$loading(false);
                        });
                }
            },
            load_data() {
                axios.get('/api/exChangRateByBranchId/'+this.current_branch_id)
                    .then(response => {
                        this.data = response.data.data;
                        this.total = response.data.meta.total;
                    });
            },
            AddNew(){
                this.editmode = false;
                this.form.reset();
                $('#addNew').modal('show');
            },
            save_data() {
                this.form.post('/api/exchangeRate')
                    .then((response) => {
                        this.form.reset();
                        this.$toast.success({
                            title:'Create User Security',
                            message:'User security have been created successful!'
                        });
                        this.load_data();
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'Create User Security',
                            message: error.message
                        });
                    })
            },
            update_data(){
                this.form.put('/api/exchangeRate/' + this.form.id)
                    .then((response) => {
                        this.$toast.success({
                            title:'Update Data',
                            message:'User have been updated successful!'
                        });
                        this.reset_data();
                        this.load_data();
                        $('#addNew').modal('hide');
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'Update Data',
                            message: error.message
                        });
                    })
            },
            show_data(id){
                this.$loading(true);
                axios.get('/api/exchangeRate/' + id)
                    .then(response => {
                        this.editmode = true;
                        this.form.fill(response.data.data);
                        $('#addNew').modal('show');
                        this.$loading(false);
                    });
            },
            delete_data(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.form.delete('/api/exchangeRate/'+id).then(()=>{
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            );
                            Fire.$emit('AfterCreate');
                        }).catch(()=> {
                            Swal.fire("Failed!", "There was something wronge.", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                });
            },
            reset_data(){
                this.form.reset();
                this.editmode = false;
            },
            isActive(state){
                let data = {
                    is_active: state,
                };
                axios.put('/api/exchangeRate/isActive/'+this.selected,data)
                    .then((response) => {
                        this.selected.length = 0;
                        this.load_data();
                    });
            },
            isActive_by_id(id, state){
                let data = {
                    is_active: state,
                };
                axios.put('/api/exchangeRate/isActive/'+id,data)
                    .then((response) => {
                        this.selected.length = 0;
                        this.load_data();
                    });
            },
            onlyNumber($event) {
                let keyCode = ($event.keyCode ? $event.keyCode : $event.which);
                if ((keyCode < 48 || keyCode > 57) && keyCode !== 46) { // 46 is dot
                    $event.preventDefault();
                }
            },
            load_currency(){
                axios.get('/api/currency?paginate=50')
                    .then(response => {
                        this.currency = response.data.data;
                    });
            },
            load_branch(){
                axios.get('/api/branch?paginate=50')
                    .then(response => {
                        this.branch = response.data.data;
                    });
            }
        },
        created() {
            this.load_branch();
            this.load_currency();
            Fire.$on('AfterCreate',() => {
                this.load_data();
            });
        }
    }
</script>
