<template>
    <div>
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-dark navbar-lightblue">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
            </li>
        </ul>

        <ul class="navbar-nav" style="margin-top: -15px; line-height: 20px;">
            <li class="nav-item d-none d-sm-inline-block" style="text-align: center; padding: 0 5px 0 5px;"  v-for="menu in data" :key="menu.id" v-if="menu.m_view === 1">
                <router-link :to="menu.link" class="nav-link tmenusel" v-if="currentRouteName === menu.link">
                <i :class="'nav-icon ' + menu.class"></i>
                <br/>
                <p v-if="lang === 'en'">
                    {{ menu.title_en }}
                </p>
                <p v-if="lang === 'kh'">
                    {{ menu.title_kh }}
                </p>
                </router-link>
                
                <router-link :to="menu.link" class="nav-link" v-else>
                <i :class="'nav-icon ' + menu.class"></i>
                <br/>
                <p v-if="lang === 'en'">
                    {{ menu.title_en }}
                </p>
                <p v-if="lang === 'kh'">
                    {{ menu.title_kh }}
                </p>
                </router-link>
            </li>
        </ul>

        <!-- SEARCH FORM -->
        <!-- <form class="form-inline ml-3">
            <div class="input-group input-group-sm">
                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-navbar" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form> -->

        <!-- Right navbar links -->

        <ul class="navbar-nav ml-auto">

            <!-- <li style="color: #dde0e2; padding-top: 2px;">
                {{$t('branch_name')}} :
            </li>
            <li>
                <select v-model="branch_id" @change="switch_branch($event.target.value)" style="background-color: #3c8dbc; color: white;">
                    <option value="0">{{$t('select')}}</option>
                    <option v-for="value in branch" :value="value.id">{{value.branch_name}}</option>
                </select>
            </li> -->

            <li v-for="entry in languages" class="nav-item dropdown">
                <a href="#" class="nav-link" @click="switch_lang(entry.language)" style="color: #fff;">
                    <flag :iso="entry.flag" v-bind:squared=false /> {{entry.title}}
                </a>
            </li>


            <!-- Messages Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-comments"></i>
                    <span class="badge badge-danger navbar-badge">3</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <a href="#" class="dropdown-item">
                        <!-- Message Start -->
                        <div class="media">
                            <img src="" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    Brad Diesel
                                    <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">Call me whenever you can...</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>
                        <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <!-- Message Start -->
                        <div class="media">
                            <img src="" alt="User Avatar" class="img-size-50 img-circle mr-3">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    John Pierce
                                    <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">I got your message bro</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>
                        <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <!-- Message Start -->
                        <div class="media">
                            <img src="" alt="User Avatar" class="img-size-50 img-circle mr-3">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    Nora Silvester
                                    <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">The subject goes here</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>
                        <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                </div>
            </li>
            <!-- Notifications Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-bell"></i>
                    <span class="badge badge-warning navbar-badge">15</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-item dropdown-header">15 Notifications</span>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-envelope mr-2"></i> 4 new messages
                        <span class="float-right text-muted text-sm">3 mins</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-users mr-2"></i> 8 friend requests
                        <span class="float-right text-muted text-sm">12 hours</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-file mr-2"></i> 3 new reports
                        <span class="float-right text-muted text-sm">2 days</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                </div>
            </li>
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">-->
<!--                    <i class="fas fa-th-large"></i>-->
<!--                </a>-->
<!--            </li>-->
            <li class="nav-item">
                <a href="#" class="nav-link" @click.prevent="logout()">
                    <i class="fas fa-sign-out-alt" style="font-size: 24px; color: red;"></i>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <!-- <aside class="main-sidebar elevation-4 sidebar-light-lightblue"> -->
    <aside class="main-sidebar elevation-4 sidebar-dark-primary">
        <!-- Brand Logo -->
        <a href="../../index3.html" class="brand-link navbar-lightblue" style="height: 59px; padding-top: 20px;">
            <img src="/img/profile.png"
                 alt="AdminLTE Logo"
                 class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">AdminLTE 3</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar" style="margin-top: 59px;">
            <!-- Sidebar user (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="/img/profile.png" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block" style="text-transform: capitalize;">{{user.name}}</a>
                </div>
            </div>
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->
                    <li class="nav-item has-treeview" v-for="menu in data" :key="menu.id" v-if="menu.m_view === 1">
                        <router-link :to="menu.link" class="nav-link">
                            <i :class="'nav-icon ' + menu.class" :style="'color:'+menu.color"></i>

                            <p v-if="lang === 'en'">
                                {{ menu.title_en }}
                                <i class="right fas fa-angle-left" v-if="menu.subMenu.length > 0"></i>
                            </p>

                            <p v-if="lang === 'kh'">
                                {{ menu.title_kh }}
                                <i class="right fas fa-angle-left" v-if="menu.subMenu.length > 0"></i>
                            </p>

                        </router-link>
                        <ul class="nav nav-treeview">
                            <li class="nav-item" v-for="submenu in menu.subMenu" :key="submenu.id" v-if="submenu.m_view === 1">
                                <router-link :to="submenu.link" :class="submenu.link===currentRoutePath ? 'route-active nav-link':'nav-link'">
                                    <i :class="'nav-icon ' + submenu.class" :style="'color:'+submenu.color"></i> 
                                    <p v-if="lang === 'en'">{{submenu.title_en}}</p>
                                    <p v-if="lang === 'kh'">{{submenu.title_kh}}</p>
                                </router-link>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <router-view></router-view>
    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer">
        <div class="float-right d-none d-sm-block">
            <b>Version</b> 3.0.0
        </div>
        <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
        reserved.
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    </div>
</template>

<script>
    import i18n from '../../i18n';
    export default {
        data() {
            return {
                lang: '',
                isLogin : true,
                branch: {},
                data: {},
                user: {},
                route_path: '',
                branch_id:'',
                languages: [
                    { flag: 'us', language: 'en', title: '' },
                    { flag: 'kh', language: 'kh', title: '' }
                ],
            };
        },
        computed: {
            currentRoutePath() {
                if (this.$accessToken === null){
                    window.location.href = '/';
                }
                this.route_path = this.$route.path;
                return this.$route.path;
            },
            currentRouteName() {
                return this.$route.path;
            }
        },
        methods: {
            switch_lang($lang){
                this.$loading(true);
                axios.put('/api/switch_lang?lang=' + $lang)
                    .then((response) => {
                        this.lang = response.data.data.default_language; 
                        i18n.locale = response.data.data.default_language; 
                        this.load_menu();
                        this.$loading(false);
                    })
            },
            load_menu() {
                axios.get('/api/backendMenu-get-all-parent')
                    .then(response => {
                        this.data = response.data.data;
                    });
            },
            load_branch(){
                axios.get('/api/branch?paginate=50')
                    .then(response => {
                        this.branch = response.data.data;
                    });
            },
            switch_branch($branch_id){
                axios.put('/api/switch_branch/' + $branch_id)
                    .then((response) => {
                        this.$toast.success({
                            title:'Switch Branch',
                            message:'Switch branch have been created successful!'
                        });
                        Store.dispatch('getCurrentUser')
                            .then(resp => {
                                window.location.href = this.$route.path;
                            });
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'Switch Branch',
                            message: error.message
                        });
                    })
            },
            getCurrentUser(){
                Store.dispatch('getCurrentUser')
                    .then(resp => {
                        this.branch_id = resp.data.data.branch_id;
                        this.lang = resp.data.data.default_language;
                        i18n.locale = resp.data.data.default_language;
                        this.user = resp.data.data;
                    })
            },
            logout() {
                Store.dispatch('logout')
                    .then(response => {
                    })
            }
        },
        created() {
            if (this.$accessToken === null){
                window.location.href = '/';
            }
            
            // Load menus when update backend menus
            this.$on('load_menu', function(){
                this.load_menu();
            });

            this.load_menu();
            this.load_branch();
            this.getCurrentUser();
        }
    }
</script>
