<template>
    <div>
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2" style="padding-top: 20px;">
                    <div class="col-sm-6" style="padding-left: 5px;">
                        <h1 class="breadcrumbs-title">{{ $t('company_profile') }}</h1>
                    </div>
                    <div class="col-sm-6">

                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <section class="content">
            <div class="container-fluid">


    <!-- START CUSTOM TABS -->
        <div class="row">
          <div class="col-12 col-sm-6 col-lg-12">
            <div class="card card-primary card-outline card-outline-tabs">
              <div class="card-header p-0 border-bottom-0">
                <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="custom-tabs-three-home-tab" data-toggle="pill" href="#custom-tabs-three-home" role="tab" aria-controls="custom-tabs-three-home" aria-selected="true">{{ $t('company_profile') }}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-three-profile-tab" data-toggle="pill" href="#custom-tabs-three-profile" role="tab" aria-controls="custom-tabs-three-profile" aria-selected="false">{{$t('branch_list')}}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-three-messages-tab" data-toggle="pill" href="#custom-tabs-three-messages" role="tab" aria-controls="custom-tabs-three-messages" aria-selected="false">Messages</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-three-settings-tab" data-toggle="pill" href="#custom-tabs-three-settings" role="tab" aria-controls="custom-tabs-three-settings" aria-selected="false">Settings</a>
                  </li>
                </ul>
              </div>
              <div class="card-body1">
                  <br/>
                <div class="tab-content" id="custom-tabs-three-tabContent">
                  <div class="tab-pane fade active show" id="custom-tabs-three-home" role="tabpanel" aria-labelledby="custom-tabs-three-home-tab">
                      <div class="col-12">
                        <form class="form-horizontal" @submit.prevent="update_company()">
                                        <div class="card-body">

                                            <div class="form-group row">
                                                <label for="inputPassword3" class="col-sm-2 col-form-label">{{$t('name_en')}}<span class="required">*</span></label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control"  v-model="company_form.name_en" required>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="inputPassword4" class="col-sm-2 col-form-label">{{$t('name_kh')}}<span class="required">*</span></label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" v-model="company_form.name_kh" required>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="inputPassword4" class="col-sm-2 col-form-label">{{$t('sub_name')}}</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" v-model="company_form.sub_name">
                                                </div>
                                            </div>

                                            
                                            <div class="form-group row">
                                                <label for="inputPassword4" class="col-sm-2 col-form-label">{{$t('phone')}}</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" v-model="company_form.phone">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="inputPassword4" class="col-sm-2 col-form-label">{{$t('email')}}</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" v-model="company_form.email">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="inputPassword4" class="col-sm-2 col-form-label">{{$t('website')}}</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" v-model="company_form.website">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="inputPassword4" class="col-sm-2 col-form-label">{{$t('address')}}</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" v-model="company_form.address">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="password" class="col-sm-2 col-form-label">{{$t('city_name')}}<span class="required">*</span></label>
                                                <div class="col-sm-10">
                                                    <select class="form-control" v-model="company_form.city_id" required>
                                                        <option>{{$t('select')}}</option>
                                                        <option v-for="value in city" :value="value.id">
                                                        ​​​   <p v-if="$parent.lang === 'en'"> {{value.title_en}} </p>
                                                        <p v-if="$parent.lang === 'kh'"> {{value.title_kh}} </p>
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="password_confirmation" class="col-sm-2 col-form-label">{{$t('country')}}</label>
                                                <div class="col-sm-10">
                                                    <select class="form-control" v-model="company_form.country_id" required>
                                                        <option>{{$t('select')}}</option>
                                                        <option v-for="value in country" :value="value.id">
                                                            {{value.title}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- /.card-body -->
                                        <div class="card-footer text-right">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i> {{$t('cancel')}}</button>
                                            <button type="submit" class="btn btn-success"><i class="fas fa-edit"></i> {{$t('update')}}</button>
                                        </div>
                                        <!-- /.card-footer -->
                        </form>
                      </div>
                  </div>
                  <div class="tab-pane fade" id="custom-tabs-three-profile" role="tabpanel" aria-labelledby="custom-tabs-three-profile-tab">
                    <!-- /.col -->
                    <div class="col-md-12">
                        <div class="card1">
                            <div style="display: flex; flex-wrap: wrap; padding-top: 7px; padding-bottom: 3px;">

                                <br style="clear:both;"/>
                                <div class="col-sm-6" style="padding-left: 0px;">

                                    <button type="button" class="btn btn-primary" @click="AddNew"><i class="fas fa-edit"></i> {{$t('add_new')}}</button>

                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        {{$t('action')}}
                                    </button>
                                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);" v-show="action">
                                        <a class="dropdown-item" href="#" @click.prevent="delete_data(selected)"><i class="fa fa-trash red" style="margin-right: 10px"></i> {{$t('delete')}}</a>
                                        <a class="dropdown-item" href="#" @click.prevent="isActive(true)"><i class="fas fa-eye blue" style="margin-right: 10px"></i>{{$t('publish')}}</a>
                                        <a class="dropdown-item" href="#" @click.prevent="isActive(false)"><i class="fas fa-eye-slash red" style="margin-right: 10px"></i>{{$t('unpublish')}}</a>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <!--start pagination-->
                                    <vue-ads-pagination :total-items="total" :max-visible-pages="3" :items-per-page="per_page" :page="page" :loading="loading" @range-change="rangeChange">
                                        <template slot-scope="props">
                                            <div class="vue-ads-pr-2 vue-ads-leading-loose">
                                                {{$t('p_row')}} :
                                                <select id="displayRows" @change="onChange($event)">
                                                    <option value="10">10</option>
                                                    <option value="20">20</option>
                                                    <option value="30">30</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select>
                                            </div>
                                            <div class="vue-ads-pr-2 vue-ads-leading-loose">
                                                {{ props.start }} - {{ props.end }} {{$t('p_of')}} {{ props.total }}
                                            </div>
                                        </template>
                                        <template slot="buttons" slot-scope="props">
                                            <vue-ads-page-button v-for="(button, key) in props.buttons" :key="key" v-bind="button" @page-change="page = button.page"/>
                                        </template>
                                    </vue-ads-pagination>
                                    <!--start pagination-->
                                </div>

                            </div>
                            <div class="card-body1 table-responsive p-0 table-height" :style="'height : '+ (windowHeight-290) +'px; position: relative;'">
                                <table class="table table-hover text-nowrap table-head-fixed">
                                    <thead>
                                    <tr>
                                        <th style="width: 40px;">
                                            <div class="icheck-primary">
                                                <input type="checkbox" v-model="selectAll" id="checkAll">
                                                <label for="checkAll"></label>
                                            </div>
                                        </th>
                                        <th style="width: 40px;">{{$t('no')}}</th>
                                        <th>{{$t('branch_code')}}</th>
                                        <th>{{$t('branch_name')}}</th>
                                        <th>{{$t('branch_address')}}</th>
                                        <th>{{$t('currency_name')}}</th>
                                        <th style="width: 50px;">{{$t('state')}}</th>
                                        <th style="width: 120px;" class="align-right">{{$t('action')}}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(c,index) in data" :key="c.id">
                                        <td>
                                            <div class="icheck-primary">
                                                <input type="checkbox" :id="'all_'+c.id" :value="c.id" v-model="selected" @change="checked">
                                                <label :for="'all_'+c.id"></label>
                                            </div>
                                        </td>
                                        <td>{{numbering+index+1}}</td>
                                        <td>
                                            <a href="#" @click.prevent="show_data(c.id)">{{c.branch_code}}</a>
                                        </td>
                                        <td>{{c.branch_name}}</td>
                                        <td>{{c.branch_address}}</td>
                                        <td>{{c.branch_phone}}</td>

                                        <td v-if="c.is_active == 0" class="align-center"> <span class="badge bg-danger"><i class="fas fa-eye-slash"></i></span> </td>
                                        <td v-else class="align-center"><span class="badge bg-primary"><i class="fas fa-eye"></i></span></td>
                                        <td>
                                                <div class="btn-group" style="margin-left: 10px;">
                                                    <button type="button" class="btn btn-default btn-xs">{{$t('action')}}</button>
                                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                                    </button>
                                                    <div class="dropdown-menu" role="menu" style="">
                                                        <a class="dropdown-item" href="#" @click.prevent="show_data(c.id)"><i class="fa fa-edit" style="margin-right: 10px"></i> {{$t('edit')}}</a>
                                                        <a class="dropdown-item" href="#" @click.prevent="delete_data(c.id)"><i class="fa fa-trash red" style="margin-right: 10px"></i> {{$t('delete')}}</a>
                                                        <a class="dropdown-item" href="#" @click.prevent="isActive_by_id(c.id, true)"><i class="fas fa-eye blue" style="margin-right: 10px"></i>{{$t('publish')}}</a>
                                                        <a class="dropdown-item" href="#" @click.prevent="isActive_by_id(c.id, false)"><i class="fas fa-eye-slash red" style="margin-right: 10px"></i>{{$t('unpublish')}}</a>
                                                    </div>
                                                </div>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.nav-tabs-custom -->
                    </div>
                    <!-- /.col -->                      
                  </div>
                  <div class="tab-pane fade" id="custom-tabs-three-messages" role="tabpanel" aria-labelledby="custom-tabs-three-messages-tab">
                     Morbi turpis dolor, vulputate vitae felis non, tincidunt congue mauris. Phasellus volutpat augue id mi placerat mollis. Vivamus faucibus eu massa eget condimentum. Fusce nec hendrerit sem, ac tristique nulla. Integer vestibulum orci odio. Cras nec augue ipsum. Suspendisse ut velit condimentum, mattis urna a, malesuada nunc. Curabitur eleifend facilisis velit finibus tristique. Nam vulputate, eros non luctus efficitur, ipsum odio volutpat massa, sit amet sollicitudin est libero sed ipsum. Nulla lacinia, ex vitae gravida fermentum, lectus ipsum gravida arcu, id fermentum metus arcu vel metus. Curabitur eget sem eu risus tincidunt eleifend ac ornare magna. 
                  </div>
                  <div class="tab-pane fade" id="custom-tabs-three-settings" role="tabpanel" aria-labelledby="custom-tabs-three-settings-tab">
                     Pellentesque vestibulum commodo nibh nec blandit. Maecenas neque magna, iaculis tempus turpis ac, ornare sodales tellus. Mauris eget blandit dolor. Quisque tincidunt venenatis vulputate. Morbi euismod molestie tristique. Vestibulum consectetur dolor a vestibulum pharetra. Donec interdum placerat urna nec pharetra. Etiam eget dapibus orci, eget aliquet urna. Nunc at consequat diam. Nunc et felis ut nisl commodo dignissim. In hac habitasse platea dictumst. Praesent imperdiet accumsan ex sit amet facilisis. 
                  </div>
                </div>
              </div>
              <!-- /.card -->
            </div>
          </div>
        </div>
      <!-- END CUSTOM TABS -->

                    <!-- Modal Branch -->
                    <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" v-show="!editmode">{{$t('branch_setting')}}</h5>
                                    <h5 class="modal-title" v-show="editmode">{{$t('branch_setting')}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form class="form-horizontal" @submit.prevent="editmode ? update_data() : save_data()">
                                    <div class="card-body">

                                        <div class="form-group row">
                                            <label for="inputPassword3" class="col-sm-4 col-form-label">{{$t('branch_name')}}<span class="required">*</span></label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control"  v-model="form.branch_name" required>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputPassword4" class="col-sm-4 col-form-label">{{$t('branch_phone')}}<span class="required">*</span></label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" v-model="form.branch_phone" required>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputPassword4" class="col-sm-4 col-form-label">{{$t('branch_address')}}<span class="required">*</span></label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" v-model="form.branch_address" required>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="password" class="col-sm-4 col-form-label">{{$t('city_name')}}<span class="required">*</span></label>
                                            <div class="col-sm-8">
                                                <select class="form-control" v-model="form.city_id" required>
                                                    <option>{{$t('select')}}</option>
                                                    <option v-for="value in city" :value="value.id">
                                                    ​​​   <p v-if="$parent.lang === 'en'"> {{value.title_en}} </p>
                                                       <p v-if="$parent.lang === 'kh'"> {{value.title_kh}} </p>
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="password_confirmation" class="col-sm-4 col-form-label">{{$t('currency_name')}}</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" v-model="form.currency_id" required>
                                                    <option>{{$t('select')}}</option>
                                                    <option v-for="value in currency" :value="value.id">
                                                        {{value.name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="is_active" class="col-sm-4 col-form-label">{{$t('state')}}</label>
                                            <div class="col-sm-8 custom-control custom-switch" style="padding-left: 50px;">
                                                <input type="checkbox" class="custom-control-input" id="customSwitch1" v-model="form.is_active">
                                                <label class="custom-control-label" for="customSwitch1">isActive?</label>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer text-right">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i> {{$t('cancel')}}</button>
                                        <button v-show="editmode" type="submit" class="btn btn-success"><i class="fas fa-edit"></i> {{$t('update')}}</button>
                                        <button v-show="!editmode" type="submit" class="btn btn-primary"><i class="fas fa-save"></i> {{$t('save')}}</button>
                                    </div>
                                    <!-- /.card-footer -->
                                </form>

                            </div>
                        </div>
                    </div>
                    <!-- End modal branch -->

        </div><!-- /.container-fluid -->
        </section>
    </div>
</template>

<script>
    import VueAdsPagination, { VueAdsPageButton } from 'vue-ads-pagination';
    import Swal from 'sweetalert2/dist/sweetalert2.js';
    import axios from "axios";

    export default {
        components: {
            VueAdsPagination,
            VueAdsPageButton,
        },
        data() {
            return {
                //Pagination return
                total:0,
                per_page:10,
                loading: false,
                page: 0,
                numbering: '',

                selected: [],
                action: false,

                editmode : false,
                data : {},
                company: {},
                currency: {},
                country: {},
                city: {},
                company_form: new Form({
                    id: '',
                    name_kh: '',
                    name_en: '',
                    sub_name: '',
                    phone: '',
                    email: '',
                    facebook: '',
                    website: '',
                    address: '',
                    city_id: '',
                    country_id: '',
                    logo: ''
                }),
                form: new Form({
                    id:'',
                    company_id:'',
                    city_id:'',
                    currency_id:'',
                    branch_name: '',
                    branch_phone: '',
                    branch_address: '',
                    is_active: '',
                }),
            }
        },
        computed: {
            selectAll: {
                get: function () {
                    return this.data ? this.selected.length == this.data.length : false;
                },
                set: function (value) {
                    var selected = [];
                    if (value) {
                        this.data.forEach(function (value) {
                            selected.push(value.id);
                        });
                    }
                    this.selected = selected;
                    this.checked();
                }
            }
        },
        mounted() {
            this.load_company();
        },
        methods: {
            load_company(){
                axios.get('/api/get-current-company')
                    .then(response => {
                        this.company_form.fill(response.data.data);
                        this.company = response.data.data;
                    });
            },
            checked(){
                if (this.selected.length > 0){
                    this.action = true;
                }else{
                    this.action = false;
                }
            },
            onChange(event) {
                this.$loading(true);
                this.per_page = parseInt(event.target.value);
                axios.get('/api/branch?paginate='+this.per_page)
                    .then(response => {
                        this.total = response.data.meta.total;
                        this. page = 0;
                        this.data = response.data.data;
                        this.$loading(false);
                    });
            },
            rangeChange (start, end) {
                if (this.numbering !== start) {
                    this.$loading(true);
                    this.numbering = start;
                    var page = end / this.per_page;
                    if ((start + this.per_page) > this.total) {
                        page = page + 1;
                    }
                    axios.get('/api/branch?page=' + parseInt(page) + '&paginate=' + parseInt(this.per_page))
                        .then(response => {
                            this.data = response.data.data;
                            this.total = response.data.meta.total;
                            this.$loading(false);
                        });
                }
            },
            load_data() {
                axios.get('/api/branch')
                    .then(response => {
                        this.data = response.data.data;
                        this.total = response.data.meta.total;
                    });
            },
            save_data() {
                this.form.post('/api/branch')
                    .then((response) => {
                        this.form.reset();
                        this.$toast.success({
                            title:'Create Branch',
                            message:'Branch have been created successful!'
                        });
                        this.load_data();
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'Create Branch',
                            message: error.message
                        });
                    })
            },
            update_data(){
                this.form.put('/api/branch/' + this.form.id)
                    .then((response) => {
                        this.$toast.success({
                            title:'Update Branch',
                            message:'Branch have been updated successful!'
                        });
                        this.reset_data();
                        this.load_data();
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'Update Data',
                            message: error.message
                        });
                    })
            },
            show_data(id){
                this.$loading(true);
                axios.get('/api/branch/' + id)
                    .then(response => {
                        this.editmode = true;
                        this.form.fill(response.data.data);
                        $('#addNew').modal('show');
                        this.$loading(false);
                    });
            },
            delete_data(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.form.delete('/api/branch/'+id).then(()=>{
                            Swal.fire(
                                'Deleted!',
                                'Your branch has been deleted.',
                                'success'
                            );
                            Fire.$emit('AfterCreate');
                        }).catch(()=> {
                            Swal.fire("Failed!", "There was something wronge.", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                });
            },
            reset_data(){
                this.form.reset();
                this.editmode = false;
            },
            isActive(state){
                let data = {
                    is_active: state,
                };
                axios.put('/api/branch/isActive/'+this.selected,data)
                    .then((response) => {
                        this.selected.length = 0;
                        this.load_data();
                    });
            },
            isActive_by_id(id, state){
                let data = {
                    is_active: state,
                };
                axios.put('/api/branch/isActive/'+id,data)
                    .then((response) => {
                        this.selected.length = 0;
                        this.load_data();
                    });
            },
            AddNew(){
                this.editmode = false;
                this.form.reset();
                $('#addNew').modal('show');
            },
            EditCompany(){
                this.editmode = false;
                this.form.reset();
                $('#modal_company').modal('show');
            },
            update_company(){
                this.company_form.put('/api/company/' + this.company_form.id)
                    .then((response) => {
                        this.$toast.success({
                            title:'Update Company',
                            message:'Company have been updated successful!'
                        });
                        this.company_form.reset();
                        this.load_company();
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'Update Company',
                            message: error.message
                        });
                    })
            },
            load_currency(){
                axios.get('/api/currency?paginate=50')
                    .then(response => {
                        this.currency = response.data.data;
                    });
            },
            load_country(){
                axios.get('/api/countries?paginate=1000')
                    .then(response => {
                        this.country = response.data.data;
                    });
            },
            load_City() {
                axios.get('/api/city-get-all')
                    .then(response => {
                        this.city = response.data.data;
                    });
            },
        },
        created() {
            this.load_data();
            this.load_currency();
            this.load_country();
            this.load_City();
            Fire.$on('AfterCreate',() => {
                this.load_data();
            });
        }
    }
</script>
